{% extends ':default:layout.html.twig' %}

{% block title %}Warehouse list{% endblock %}
{% block page_title %}
    Warehouse list
{% endblock page_title %}

{% block page_name %}
    Warehouse
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
            });
        });
    </script>
{% endblock footer %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="table">
                <a class="btn btn-success" href="{{ path('warehouse_new') }}" style="margin-bottom: 15px;">Create a Warehouse</a>
                <table id="part-table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Phone</th>
                        <th>Address1</th>
                        <th>City</th>
                        <th>Zip</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for warehouse in warehouses %}
                        <tr>
                            <td><a href="{{ path('warehouse_edit', { 'id': warehouse.id }) }}">{{ warehouse.name }}</a></td>
                            <td>{{ warehouse.phone }}</td>
                            <td>{{ warehouse.address1 }}</td>
                            <td>{{ warehouse.city }}</td>
                            <td>{{ warehouse.zip }}</td>
                            <td>
                                <ul>
                                    <li>
                                        <a href="{{ path('warehouse_show', { 'id': warehouse.id }) }}">show</a>
                                    </li>
                                    <li>
                                        <a href="{{ path('warehouse_edit', { 'id': warehouse.id }) }}">edit</a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
{% endblock %}
