{% extends ':default:layout.html.twig' %}

{% block title %}Warehouse{% endblock %}
{% block page_title %}
    Warehouse
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('warehouse_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                paging: false
            });
        });
        var app = angular.module('myApp', []);
        app.controller('myCtrl', ['$scope', function($scope) {

        }]);
    </script>
{% endblock footer %}

{% block content %}
<style>
    .btn {
        font-weight: bold !important;
        padding: 6px 15px !important;
        margin: 10px 1px !important;
        font-size: 15px !important;
    }
</style>
    <div class="row">
    <div class="col-md-12">
        <center><h2>{{ warehouse.name }}</h2></center>
    </div>
    </div>
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-md-12">
            <center> <a href="{{ path('warehouse_index') }}" class="btn btn-raised btn-primary">New Purchase Order</a>
            <a href="{{ path('warehouse_index') }}" class="btn btn-raised btn-primary">New Adjustment</a>
            <a href="{{ path('warehouse_index') }}" class="btn btn-raised btn-primary">New Transfer</a>
            <a href="{{ path('warehouse_inventory_show', { 'id': warehouse.id }) }}" class="btn btn-raised btn-warning">Inventory</a><center>
        </div>
    </div>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div class="nav-tabs-custom" style="    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#all_active" data-toggle="tab" aria-expanded="true">Active</a></li>
                <li class=""><a href="#all" data-toggle="tab" aria-expanded="false">All</a></li>
                <li class=""><a href="#purchase_orders" data-toggle="tab" aria-expanded="false">Purchase Orders</a></li>
                <li class=""><a href="#stock_transfers" data-toggle="tab" aria-expanded="false">Stock Transfers</a></li>
                <li class=""><a href="#stock_adjustments" data-toggle="tab" aria-expanded="false">Stock Adjustments</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="all_active" style="padding-top: 25px;">
                    {% include '@Inventory/Warehouse/show-active.html.twig' %}
                </div>

                <div class="tab-pane" id="all" style="padding-top: 25px;">
                    {% include '@Inventory/Warehouse/show-active.html.twig' %}
                </div>

                <div class="tab-pane" id="purchase_orders" style="padding-top: 25px;">
                    {#{% include '@Inventory/Product/edit-specification.html.twig' %}#}
                </div>

                <div class="tab-pane" id="stock_transfers">
                    {#{% include '@Inventory/Product/edit-images.html.twig' %}#}
                </div>

                <div class="tab-pane" id="stock_adjustment">
                    <div class="tab-pane" id="specs" style="padding-top: 25px;">
                        {#{% include '@Inventory/Product/edit-channels.html.twig' %}#}
                    </div>
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
    </div>
{% endblock %}
