{% extends ':default:layout.html.twig' %}

{% block title %}Warehouse{% endblock %}
{% block page_title %}
    Warehouse
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('warehouse_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                paging: false
            });
        });
    </script>
{% endblock footer %}

{% block content %}
    <h2>Ideally this page will house the last few Purchase Orders, Stock Transfers and Adjustments.</h2>
    <table>
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ warehouse.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ warehouse.name }}</td>
        </tr>
        <tr>
            <th>Phone</th>
            <td>{{ warehouse.phone }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ warehouse.email }}</td>
        </tr>
        <tr>
            <th>Address1</th>
            <td>{{ warehouse.address1 }}</td>
        </tr>
        <tr>
            <th>Address2</th>
            <td>{{ warehouse.address2 }}</td>
        </tr>
        <tr>
            <th>City</th>
            <td>{{ warehouse.city }}</td>
        </tr>
        <tr>
            <th>Zip</th>
            <td>{{ warehouse.zip }}</td>
        </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('warehouse_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('warehouse_edit', { 'id': warehouse.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>

{% endblock %}
