<div class="table" style="background-color: #EFEFEF;">
    <center><h2>{%  if is_granted('ROLE_DISTRIBUTOR') %}Distributor{% elseif is_granted('ROLE_RETAILER') %}Retailer{% endif %} Order Form</h2></center>
    <form class="form-horizontal">
        <fieldset>
            <div class="row">
                <div class="col-md-6">
                    <label class="control-label" for="po">PO#</label>
                    <input id="po" name="po" ng-model="form_info['po']" type="text" class="form_field input-md">
                </div>
                <div class="col-md-3" style="margin-top: 25px; display: inline-flex;">
                    <input type="checkbox" ng-model="form_info['ship']" name="shipping" id="shipping" class="input_class_checkbox" style="display: inline;margin-right: 8px;" ng-click="shipping()">
                    <label class="checkbox" for="shipping" style=" margin-top: -7px;">Ship</label>
                </div>
                <div class="col-md-3" style="margin-top: 25px; display: inline-flex;">
                    <input type="checkbox" ng-model="form_info['pick_up']" name="pick_up" id="pick_up" class="input_class_checkbox" ng-click="pickUp()" style="display: inline;margin-right: 8px;">
                    <label class="checkbox" for="pick_up" style="margin-top: -7px;">Pick Up</label>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div id="pick_up_agent" style="display: none;">
                        <label class="control-label" for="agent_name">Pick Up Agent Name *</label>
                        <input id="agent_name" ng-model="form_info['agent_name']" name="agent_name" type="text" class="form_field input-md">
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="pick_up_date" style="display: none;">
                        <label class="control-label" for="pick_up_date">Pick Up Date *</label>
                        {#<md-datepicker ng-model="form_info['pick_up_date']" md-min-date="min_date()"></md-datepicker>#}
                        <md-datepicker ng-model="min_date" md-min-date="min_date"></md-datepicker>
                    </div>
                </div>
            </div>
            <div class="row" id="pick_up_warehouse" style="display: none; margin-bottom: 10px;">
                <div class="col-md-12">
                    {% verbatim %}
                        <select class="" id="warehouse_pick_up" style="width: 100%;height: 37px;margin-top:8px;"
                            ng-model="cart['pick_up_warehouse']"
                            ng-change="warehouseChange()"
                            ng-options="option.name for option in user_warehouses track by option.id" required>
                            <option value="" >Warehouse</option>
                        </select>
                        {% endverbatim %}
                </div>
            </div>


            <div class="row">
                <div class="col-md-12" style="    margin-bottom: 25px;">
                    <label class="control-label" for="comments">Comments</label>
                    <textarea class="form_field" ng-model="form_info['comments']" id="comments" name="comments" style="min-height: 50px;"></textarea>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<div class="table" id='ship' style="background-color: #EFEFEF; display: none;    margin-top: -19px;">

    {% if is_granted('ROLE_DISTRIBUTOR') or is_granted('ROLE_ADMIN') or is_granted('ROLE_SALES_MANAGER') or is_granted('ROLE_SALES_REP') %}
    <div class="row" id="pick_up_warehouse" style="margin-bottom: 10px;">
        <div class="col-md-12">
            <select class="" id="dist_ship" style="width: 100%;height: 37px;margin-top:8px;" ng-model="cart['dist_ship']" ng-change="updateShipForm()" required>
            <option value="">Ship to: {{ app.user.firstName }} {{ app.user.lastName }}</option>
            {% for retailer in user_retailers %}
                <option value="{{ retailer.id }}">{{ retailer.firstName }} {{ retailer.lastName }}</option>
            {% endfor %}
                        </select>
        </div>
    </div>
{% endif %}
    <div class="row">
        <div class="col-md-12">
            <label class="control-label" for="ship_name">Name *</label>
            <input id="ship_name" name="ship_name" ng-model="form_info['ship_name']" ng-init="form_info['ship_name']= '{{ app.user.firstName }} {{ app.user.lastName }}'" type="text" class="form_field input-md">
        </div>
        <div class="col-md-12">
            <label class="control-label" for="address">Address *</label>
            <input id="address" name="address" ng-model="form_info['address']" ng-init="form_info['address'] = '{{ app.user.address1 }}'" type="text" class="form_field input-md">
        </div>
        <div class="col-md-12">
            <label class="control-label" for="address2">Address 2/Province</label>
            <input id="address2"  ng-model="form_info['address2']" ng-init="form_info['address2'] = '{{ app.user.address2 }}'" type="text" class="form_field input-md">
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label class="control-label" for="city">City *</label>
            <input id="city" ng-model="form_info['city']" ng-init="form_info['city'] = '{{ app.user.city }}'" type="text" class="form_field input-md">
        </div>
        <div class="col-md-3">
            <label class="control-label" for="state">ST *</label>
            <select id="state" ng-model="form_info['state']" ng-init="form_info['state'] = '{{ app.user.state.id }}'" class="form_field input-md">
              {% for state in states %}
              <option value="{{ state.id }}">{{ state.name }}</option>
              {% endfor %}
            </select>
        </div>
        <div class="col-md-3">
            <label class="control-label" for="zip">Zip *</label>
            <input id="zip" ng-model="form_info['zip']" ng-init="form_info['zip'] = '{{ app.user.zip }}'" type="text" class="form_field input-md">
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <label class="control-label" for="phone">Phone *</label>
            <input id="phone" ng-model="form_info['phone']" ng-init="form_info['phone'] = '{{ app.user.phone }}'" type="text" class="form_field input-md">
        </div>
        <div class="col-md-12">
            <label class="control-label" for="email">Email *</label>
            <input id="email"  ng-model="form_info['email']" ng-init="form_info['email'] = '{{ app.user.email }}'" type="text" class="form_field input-md">
        </div>
    </div>
    <div class="row" style="margin-top: 10px;">
        <div class="col-md-12">
            <p>Please confirm shipping to residential address.
                <input type="checkbox" ng-model="form_info['confirm_residential']" name="confirm_residential" id="confirm_residential" class="input_class_checkbox" style="display: inline;margin-right: 8px;">
            </p>
            <p style="font-size: 10px; margin-top: -23px;">Shipping is based FedEx rates.</p>

        </div>
    </div>
</div>