{% extends ':default:layout.html.twig' %}

{% block title %}Promo Kit Items Listing{% endblock %}
{% block page_title %}
    Promo Kit Items Listing
{% endblock page_title %}

{% block page_name %}
    Promo Kit Items
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
            $('.active-field').click(function() {
                $(this).find('input').click();
            });
        });

        function changePromoKitActive(promokit_id, active) {
            console.log('active: '+active);
            $.ajax({
                type: 'POST',
                url: "{{ path('api_change_promo_kit_item_active') }}",
                dataType: 'json',
                data: {promokit_id: promokit_id, active: active},
                success: function (data) {
//                    console.log(JSON.stringify(data,null,4));
                }
            });
        }
    </script>
{% endblock footer %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="table">
            <table id="part-table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for promoKit in promoKits %}
            <tr>
                <td>{{ promoKit.name }}</td>
                <td>{{ promoKit.description }}</td>
                <td class="active-field"><input type="checkbox" {% if promoKit.active %}checked="checked"{% endif %} onchange="changePromoKitActive({{ promoKit.id }}, this.checked)" /></td>
                <td>
                    <a class="btn btn-raised btn-xs" href="{{ path('promokit_edit', { 'id': promoKit.id }) }}">Edit</a>
                    {#<a class="btn btn-raised btn-xs btn-danger" href="{{ path('delete_promokit', { 'id': promoKit.id }) }}">Delete</a>#}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        </div>
    </div>
</div>

    <a id="new-button" href="{{ path('promokit_new') }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </a>
    <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="new-button">
        Create a Promo Kit
    </div>
{% endblock %}
