{% extends ':default:layout.html.twig' %}

{% block title %}{{ warehouse.name }} - Warehouse{% endblock %}
{% block page_title %}
    Warehouse
{% endblock page_title %}

{#{% block page_name %}#}
    {#<a href="{{ path('warehouse_index') }}">< Back to the list</a>#}
{#{% endblock page_name %}#}

{#{% block actions %}#}
{#{% endblock actions %}#}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#inventory-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
             $('#pop-inventory-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });

        });


        {#var app = angular.module('myApp', ['ngFileUpload']);#}
        {#app.controller('myCtrl', ['$scope', 'Upload', function($scope, Upload) {#}
            {#$scope.inventory_data = {{ inventory_data | json_encode | raw }};#}
            {#$scope.pop_inventory_data = {{ pop_inventory | json_encode | raw }};#}

            {#$scope.addInventory = function () {#}
                {#var variant_id = $('#variant').val();#}
                {#var quantity = $('#quantity').val();#}

                {#$.ajax({#}
                    {#type: 'POST',#}
                    {#url: "{{ path('api_add_warehouse_inventory') }}",#}
                    {#dataType: 'json',#}
                    {#data: {variant_id: variant_id, quantity: quantity, warehouse_id: {{ warehouse.id }} },#}
                    {#success: function (data) {#}
                        {#$scope.$apply(function () {#}
                            {#$scope.inventory_data = data['inventory'];#}
                            {#$('#quantity').val('');#}
                            {#$('#inventory-table').DataTable();#}
                        {#});#}
                    {#}#}
                {#});#}
            {#};#}

            {#$scope.addPopInventory = function () {#}
                {#var pop_id = $('#pop-select').val();#}
                {#var quantity = $('#pop-quantity').val();#}

                {#$.ajax({#}
                    {#type: 'POST',#}
                    {#url: "{{ path('api_add_warehouse_pop_inventory') }}",#}
                    {#dataType: 'json',#}
                    {#data: {pop_id: pop_id, quantity: quantity, warehouse_id: {{ warehouse.id }} },#}
                    {#success: function (data) {#}
                        {#$scope.$apply(function () {#}
                            {#$scope.pop_inventory_data = data['pop_inventory'];#}
                            {#$('#pop-quantity').val('');#}
                            {#$('#pop-inventory-table').DataTable();#}
                        {#});#}
                    {#}#}
                {#});#}
            {#};#}

        {#}]);#}
    </script>
{% endblock footer %}

{% block content %}
<style>
    .btn {
        font-weight: bold !important;
        padding: 6px 15px !important;
        margin: 10px 1px !important;
        font-size: 15px !important;
    }
    .tab-content {
        min-height: 400px;
    }
</style>
    <div class="row">
	    <div class="col-md-12">
		<center><h2>{{ warehouse.name }}</h2></center>
	    </div>
    </div>
    <div class="row" style="margin-bottom: 25px;">
        <div class="col-md-12">
            <center>
                {% if isGrantedRoute(app.user, 'warehouse_new_purchase_order') %}
			<a href="{{ path('warehouse_new_purchase_order', { 'id': warehouse.id }) }}" class="btn btn-raised btn-primary">New Purchase Order</a>
                {% endif %}
                {% if isGrantedRoute(app.user, 'warehouse_new_stock_adjustment') %}
			<a href="{{ path('warehouse_new_stock_adjustment', { 'id': warehouse.id }) }}" class="btn btn-raised btn-primary">New Adjustment</a>
                {% endif %}
                {% if isGrantedRoute(app.user, 'warehouse_new_stock_transfer') %}
			<a href="{{ path('warehouse_new_stock_transfer', { 'id': warehouse.id }) }}" class="btn btn-raised btn-primary">New Transfer</a>
                {% endif %}
                {% if isGrantedRoute(app.user, 'warehouse_edit') %}
			<a href="{{ path('warehouse_edit', { 'id': warehouse.id }) }}" class="btn btn-raised btn-warning">Edit Warehouse Info</a>
                {% endif %}
            </center>
        </div>
    </div>
        <div class="nav-tabs-custom" style="box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#all_active" data-toggle="tab" aria-expanded="true">Active</a></li>
                <li class=""><a href="#all" data-toggle="tab" aria-expanded="false">All</a></li>
                <li class=""><a href="#purchase_orders" data-toggle="tab" aria-expanded="false">Purchase Orders</a></li>
                <li class=""><a href="#stock_transfers" data-toggle="tab" aria-expanded="false">Stock Transfers</a></li>
                <li class=""><a href="#stock_adjustments" data-toggle="tab" aria-expanded="false">Stock Adjustments</a></li>
                <li class=""><a href="#inventory" data-toggle="tab" aria-expanded="false">Inventory</a></li>
                <li class=""><a href="#pop_inventory" data-toggle="tab" aria-expanded="false">POP Inventory</a></li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active" id="all_active" style="padding-top: 25px;">
                    {% include '@Warehouse/Warehouse/show-active.html.twig' %}
                </div>

                <div class="tab-pane" id="all" style="padding-top: 25px;">
                    {% include '@Warehouse/Warehouse/show-all.html.twig' %}
                </div>

                <div class="tab-pane" id="purchase_orders" style="padding-top: 25px;">
                    {% include '@Warehouse/Warehouse/show-purchase-orders.html.twig' %}
                </div>

                <div class="tab-pane" id="stock_transfers">
                    {% include '@Warehouse/Warehouse/show-transfer.html.twig' %}
                </div>

                <div class="tab-pane" id="stock_adjustments">
                    {% include '@Warehouse/Warehouse/show-adjustments.html.twig' %}
                </div>

                <div class="tab-pane" id="inventory">
                    {% include '@Warehouse/Warehouse/show-inventory.html.twig' %}
                </div>
                <div class="tab-pane" id="pop_inventory">
                    {% include '@Warehouse/Warehouse/show-pop-inventory.html.twig' %}
                </div>
            </div>
            <!-- /.tab-content -->
        </div>
    
{% endblock %}
