{% extends ':default:layout.html.twig' %}

{% block title %}PopItem list{% endblock %}
{% block page_title %}
    PopItem list
{% endblock page_title %}

{% block page_name %}
    PopItem
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
        });
    </script>
{% endblock footer %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="table">
            <table id="part-table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
        <thead>
            <tr>
                <th>Name</th>
                <th>Image</th>
                <th>Price /per</th>
                <th>Shipping /per</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for popItem in popItems %}
            <tr>
                <td><a href="{{ path('pop_item_edit', { 'id': popItem.id }) }}">{{ popItem.name }}</a></td>
                <td>
                    <center>
                        {% if popItem.webPath %}
                        <img src="/{{ popItem.webPath }}" width="50">
                        {% endif %}
                    </center>
                </td>
                <td>{{ popItem.pricePer }}</td>
                <td>{{ popItem.shippingPer }}</td>
                <td>{% if popItem.active %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a class="btn btn-raised btn-info btn-xs purple" href="{{ path('pop_item_edit', { 'id': popItem.id }) }}"><i class="fa fa-edit"></i> edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        </div>
    </div>
</div>

    <a id="new-button" href="{{ path('pop_item_new') }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </a>
    <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="new-button">
        Create a POP Item
    </div>
{% endblock %}
