{% extends ':default:layout.html.twig' %}

{% block title %}PopItem{% endblock %}
{% block page_title %}
    PopItem
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('pop_item_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                "iDisplayLength": 50});
        });
    </script>
{% endblock footer %}

{% block content %}
    <h1>PopItem</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ popItem.id }}</td>
            </tr>
            <tr>
                <th>Sku</th>
                <td>{{ popItem.sku }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ popItem.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ popItem.description }}</td>
            </tr>
            <tr>
                <th>Priceper</th>
                <td>{{ popItem.pricePer }}</td>
            </tr>
            <tr>
                <th>Shippingper</th>
                <td>{{ popItem.shippingPer }}</td>
            </tr>
            <tr>
                <th>Active</th>
                <td>{% if popItem.active %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>List_id</th>
                <td>{{ popItem.listid }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pop_item_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pop_item_edit', { 'id': popItem.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
