{% extends ':default:layout.html.twig' %}

{% block title %}Stock Adjustments{% endblock %}
{% block page_title %}
    Stock Adjustments
{% endblock page_title %}

{% block page_name %}
    Adjustments
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
        });
    </script>
{% endblock footer %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="table">
                <table id="part-table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Order #</th>
                        <th>Date</th>
                        <th>Status</th>
                        <th>Warehouse</th>
                        <th style="width: 150px;">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stockAdjustment in stockAdjustments %}
                        <tr>
                            <td><a href="{{ path('stockadjustment_show', { 'id': stockAdjustment.id }) }}">{{ stockAdjustment.orderNumber }}</a></td>
                            <td>{{ stockAdjustment.date|date("m/d/Y") }}</td>
                            <td>
                                <span class="mdl-chip mdl-chip--contact" >
                                    <span class="mdl-chip__contact mdl-color-text--white" style="background-color: {{ stockAdjustment.status.color }};">{{ stockAdjustment.status.nameFirstLetter }}</span>
                                    <span class="mdl-chip__text">
                                        {{ stockAdjustment.status.name }}
                                    </span>
                                </span>
                            </td>
                            <td><a href="{{ path('warehouse_show', { 'id': stockAdjustment.warehouse.id }) }}">{{ stockAdjustment.warehouse.name }}</a></td>
                            <td>
                                <a class="btn btn-raised btn-info btn-xs purple" href="{{ path('stockadjustment_show', { 'id': stockAdjustment.id }) }}">show</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a id="new-button" href="{{ path('stockadjustment_new') }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </a>
    <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="new-button">
        Adjust Stock
    </div>
{% endblock %}
