{% extends ':default:layout.html.twig' %}

{% block title %}Office List{% endblock %}
{% block page_title %}
    Office List
{% endblock page_title %}

{% block page_name %}
    User
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
            "iDisplayLength": 50});
        });
    </script>
{% endblock footer %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="table">
                <table id="part-table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th style="width: 150px;">Number of Users</th>
                        <th >Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for office in offices %}
                        <tr>
                            <td><a href="{{ path('office_show', { 'id': office.id }) }}">{{ office.name }}</a></td>
                            <td><center>{{ office.count }}</center></td>
                            <td>
                                <a class="btn btn-raised btn-info btn-xs purple" href="{{ path('office_edit', { 'id': office.id }) }}"><i class="fa fa-edit"></i> Edit</a>
                                <a class="btn btn-raised btn-default btn-xs purple" href="{{ path('office_show', { 'id': office.id }) }}"><i class="fa fa-list"></i> Show Users</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a id="new-button" href="{{ path('office_new') }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </a>
    <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="new-button">
        Create an Office
    </div>
{% endblock %}
