{% extends ':default:layout.html.twig' %}

{% block title %}Retailer Affiliates{% endblock %}
{% block page_title %}
    Retailer Affiliates
{% endblock page_title %}

{% block page_name %}
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
           
        });
    </script>

       <script	
      src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyASaEmMIdjxO1YqquXQdMa8ZNlalsyPrCI"></script>
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.6/jquery.min.js">
    </script>
    <script src="{{ asset('bundles/app/js/store-locator.min.js') }}"></script>
    <script src="{{ asset('bundles/app/js/medicare-static-ds.js') }}"></script>
    <script src="{{ asset('bundles/app/js/panel.js') }}"></script>
    <link rel="stylesheet" href="{{ asset('bundles/app/css/storelocator.css') }}" />
    <style>
      body { font-family: sans-serif; }
      #map-canvas, #panel { height: 500px; }
      #panel { width: 300px; float: left; margin-right: 10px; }
      #panel .feature-filter label { width: 130px; }
      p.attribution, p.attribution a { color: #666; }
    </style>
{% endblock footer %}

{% block content %}

	<input type="hidden" value="{{path('retailer_affiliates_get_users')}}" id="retaler_user_routing">
    <div id="panel"></div>
    <div id="map-canvas"></div>
    <p class="attribution">Medicare location data from <a href="http://data.gov.au/66">data.gov.au</a>, licensed under <a href="http://creativecommons.org/licenses/by/2.5/au/">CC-BY 2.5</a></p>
  
{% endblock content %}
