{% extends ':default:layout.html.twig' %}

{% block title %}New Rebate{% endblock %}
{% block page_title %}
    New Rebate
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('rebate_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#rebate_description').keyup(function () {
                var len = $(this).val().length;
                if (len >= 1000) {
                    $(this).val($(this).val().substring(0, 1000));
                    $('#charNum').text(0);
                } else {
                    var l = 1000 - len;
                    $('#charNum').text(l);
                }
            });
        });
    </script>
{% endblock footer %}

{% block content %}
    {% if not form.vars.valid %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    {{ form_errors(form.name) }}
                    {{ form_errors(form.channel) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="table">
        <div class="form-body">
            {{ form_start(form, {'attr': { 'class': 'form-horizontal' } }) }}
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.channel) }}
                    {{ form_widget(form.channel) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-8 form-group">
                    {{ form_label(form.description) }} <span id="charNum" style="font-weight:200;color:#8e8e8e;">1000</span>
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <input class="btn btn-raised btn-success" type="submit" value="Create" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}