{% extends 'website-index.html.twig' %}

{% block title %}MLILY{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('.home-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true,
            });

            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
        });
    </script>
{% endblock footer %}

{% block body %}
    <div class="content-section">
        <div class="faq">
            <h1>Frequently Asked Questions </h1>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="content-main">
                        <div class="text-center"><img src="{{ asset('uploads/websites/' ~ channel.faqWarrantyPic) }}" height="200" /></div>
                        <h2>Warranty</h2>
                        <h3>How long is the warranty on my mattress?</h3>
                        <p>Your new memory foam mattress is covered by a 10 year prorated limited warranty. Please retain your receipt as your warranty record.
                        </p>
                        <h3>What does the warranty cover?</h3>
                        <p>This limited warranty covers workmanship, manufacturer's defects, and materials for a period of 10 years (prorated). Sorry, there is no comfort guarantee expressed or implied.
                        </p>
                        <h3>Experiencing an issue with your purchase?</h3>
                        <p>You can begin a warranty claim <a href="{{ path('web_warranty', {site: site}) }}">HERE</a>. You will be required to provide proof of original purchase from an Authorized Retailer, Premier Retailer, Authorized E-tailer, or MLILY USA. You may also need to supply images of your mattress and a description of the issue you have encountered.</p>
                        <h3>Purchasing online?</h3>
                        <p>Protect your investment when you shop online. Look for the Authorized E-tailer logo to ensure that your mattress is covered by our warranty. Online purchases made through Authorized E-tailers guarantee that you are receiving genuine MLILY products and that your purchase is covered under our manufacturer's warranty. If you purchase an MLILY product from an unauthorized retailer, your warranty will not be valid.</p>
                        <h3>Buying from a reseller like Amazon, Craig's list, or E-bay?</h3>
                        <p>Please remember: MLILY products purchased from any third party website, including but not limited to Amazon, Craig's List, Overstock, or Ebay are not covered by the MLILY Limited Warranty.</p>
                        <div class="clearfix">&nbsp;</div>
                        <div class="text-center"><img src="{{ asset('uploads/websites/' ~ channel.faqMaintenancePic) }}" width="300" /></div>
                        <div class="clearfix">&nbsp;</div>
                        <h2>Maintenance</h2>
                        <h3>Do I need to flip my mattress?</h3>
                        <p>Mlily mattresses are designed with a single sleeping surface, so there is no need to flip your mattress.</p>
                        <h3>How often should I rotate my mattress?</h3>
                        <p>To promote longevity and even wearing, your mattress should be rotated 180 degrees every 3 months.</p>
                        <h3>Can the mattress cover be cleaned?</h3>
                        <p>Every MLILY model features a removable cover which can be dry cleaned. We do not recommend using an at home washing machine, as our quilted foams can become dislodged.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="content-main">
                        <div class="text-center"><img src="{{ asset('uploads/websites/' ~ channel.faqUnpackingPic) }}" height="200" /></div>
                        <h2>Unpacking</h2>
                        <h3>Where should I unpack the mattress?</h3>
                        <p>Unpack your mattress in a well ventilated area such as an open garage or porch, before moving it to your living space.</p>
                        <h3>How long should I allow my mattress to 'air out'?</h3>
                        <p>An hour or two of fresh air will allow the slight 'new mattress smell' to dissipate. We strongly recommend waiting at least one hour before moving the mattress into your home or bedroom. Compressed foam particles need ventilation to expand, and can become trapped in closed spaces.</p>
                        <h3>When will my mattress be ready to sleep on?</h3>
                        <p>Your mattress should be fully decompressed in about 24 hours, returning to its normal shape and size. Walking on the surface of your mattress, while it is positioned on the floor can speed this process.</p>
                        <div class="clearfix">&nbsp;</div>
                        <div class="text-center"><img src="{{ asset('uploads/websites/' ~ channel.faqSupportPic) }}" width="300" /></div>
                        <div class="clearfix">&nbsp;</div>
                        <h2>Support</h2>
                        <h3>What kind of box spring should I use?</h3>
                        <p>Your mattress must be supported by a firm flat foundation, such as a foundation box, semi-flex boxspring, platform bed with adequate slats, or the floor. If your current box has any dips, sags, or soft spots it is time for a replacement.</p>
                        <h3>Do you sell boxsprings?</h3>
                        <p>No. Mlily does not provide foundations. However any local mattress or furniture retailer will carry a variety of box solutions in stock.</p>
                        <div class="clearfix">&nbsp;</div>
                        <div class="text-center"><img src="{{ asset('uploads/websites/' ~ channel.faqContactPic) }}" width="150" /></div>
                        <div class="clearfix">&nbsp;</div>
                        <h2>Contact</h2>
                        <h3>How can I get in touch with you?</h3>
                        <p>We would love to hear from you. Simply fill out a CONTACT FORM and you will receive a response with 1 business day. </p>
                        <h3>Do you have a phone number ?</h3>
                        <p>We love to speak with our customers, but do not currently have a 'call-in' line. On our <a href="{{ path('web_contact', {site: site}) }}">CONTACT FORM</a> be sure to include your phone number and a representative will be in touch within 1 business day.</p>
                    </div>
                </div>
            </div>
            <div class="clearfix">&nbsp;</div>
            <div class="clearfix">&nbsp;</div>
            <h1>TERMS AND CONDITIONS</h1>
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="content-main">
                        <h3>Privacy Policy?</h3>
                        <p>Information Collection, Use, and Sharing <br>
                            We are the sole owners of the information collected on this site. We only have access to/collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.<br>
                            <br>
                            We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization, other than as necessary to fulfill your request, e.g. to ship an order.<br>
                            <br>
                            Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy.<br>
                            <br>
                            Your Access to and Control Over Information <br>
                            You may opt out of any future contacts from us at any time. You can do the following at any time by contacting us via the email address or phone number given on our website:</p>
                        <ul>
                            <li>See what data we have about you, if any.</li>
                            <li>Change/correct any data we have about you.</li>
                            <li>Have us delete any data we have about you.</li>
                            <li>Express any concern you have about our use of your data.</li>
                        </ul>
                        <p>Security <br>
                            We take precautions to protect your information. When you submit sensitive information via the website, your information is protected both online and offline.<br>
                            <br>
                            Wherever we collect sensitive information (such as credit card data), that information is encrypted and transmitted to us in a secure way. You can verify this by looking for a closed lock icon at the bottom of your web browser, or looking for "https" at the beginning of the address of the web page.<br>
                            <br>
                            While we use encryption to protect sensitive information transmitted online, we also protect your information offline. Only employees who need the information to perform a specific job (for example, billing or customer service) are granted access to personally identifiable information. The computers/servers in which we store personally identifiable information are kept in a secure environment.<br>
                            <br>
                            Updates<br><br>

                            Our Privacy Policy may change from time to time and all updates will be posted on this page.</p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="content-main">
                        <h3>Return Policy?</h3>
                        <p>Products purchased directly from MlilyUsa.com or products purchased through any independent retailer are not eligible for RETURN. All sales are final, and all individual purchase policies apply only to the retailer where the original sale is made. Warranty claims may be addressed Here.</p>
                        <h3>Shipping Policy?</h3>
                        <p>Orders are usually processed within 2 business, according to stock availability. Products purchased through mlilyusa.com will be shipped via FedEx Ground. Purchaser is responsible for all applicable shipping charges. Shipping times vary but average delivery time is 2-3 days. </p>
                        <div class="clearfix">&nbsp;</div>
                        <div class="text-center"><img src="{{ asset('uploads/websites/' ~ channel.faqTCPic) }}" width="250" /></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block footbox %}
    <div class="copyright">{{ channel.frontFooterText }}</div>
{% endblock %}