{% extends 'website-index.html.twig' %}

{% block title %}MLILY{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('.home-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true,
            });

            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
        });
    </script>
    <style>
        .social-links ul li a{
            list-style: none;
        }
        .social-links ul li a:hover{

        }
        body{
            background-color: {{ channel.siteBackgroundColor }};
        }
    </style>
{% endblock footer %}

{% block body %}
    <nav class="navbar">
        <div class="social-links">
            <ul>
                <a href="{{ channel.fbLink }}" target="_blank"><li><i class="fa fa-facebook" aria-hidden="true"></i></li></a>
                <a href="{{ channel.twLink }}" target="_blank"><li><i class="fa fa-twitter" aria-hidden="true"></i></li></a>
                <a href="{{ channel.instaLink }}" target="_blank"><li><i class="fa fa-instagram" aria-hidden="true"></i></li></a>
            </ul>
        </div>
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('website_homepage', {site: site}) }}">
                <img style="max-width: 140px;" src="{{ asset('uploads/websites/' ~ channel.frontLogo) }}" />
            </a>
            <div class="login-btn">
                <ul>
                    <li><a href="">Login</a></li>
                </ul>
            </div>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('website_homepage', {site: site}) }}">Home</a></li>
                <li><a href="{{ path('mattresses', {site: site}) }}">MATTRESSES</a></li>
                <li><a href="{{ path('pillows', {site: site}) }}">PILLOWS</a></li>
                <li><a href="{{ path('adjustables', {site: site}) }}">ADJUSTABLE BEDS</a></li>
            </ul>
            <div class="regiter-head"><a href="{{ path('web_retailers', {site: site}) }}"><img style="max-height: 80px;" src="{{ asset('images/web/RegisterButton@2x.png') }}" /></a></div>
        </div><!--/.nav-collapse -->
    </nav>
        <div class="content-section">
            <div class="slider-section">
                <div class="home-slider">
                    <div><img src="{{ asset('uploads/websites/' ~ channel.frontSliderOne) }}" /></div>
                    <div><img src="{{ asset('uploads/websites/' ~ channel.frontSliderTwo) }}" /></div>
                    <div><img src="{{ asset('uploads/websites/' ~ channel.frontSliderThree) }}" /></div>
                </div>
            </div>

            <div class="home-banners">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a href="{{ path('web_retailers', {site: site}) }}">
                            <div class="box">
                                <div class="heading">FOR RETAILERS</div>
                                <img src="{{ asset('uploads/websites/' ~ channel.frontFooterOne) }}" />
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a href="{{ path('web_product_features', {site: site}) }}">
                            <div class="box">
                                <div class="heading">PRODUCT FEATURES</div>
                                <img src="{{ asset('uploads/websites/' ~ channel.frontFooterTwo) }}" />
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a href="{{ path('web_faq', {site: site}) }}">
                            <div class="box">
                                <div class="heading">WARRANTY/QUESTIONS?</div>
                                <img src="{{ asset('uploads/websites/' ~ channel.frontFooterThree) }}" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %}