{% extends 'website-index.html.twig' %}

{% block title %}MLILY{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('.home-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true,
            });

            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
        });
    </script>
{% endblock footer %}

{% block body %}

        <div class="content-section">
            <div class="slider-section">
                <div class="home-slider">
                    <div><img src="{{ asset('images/web/TranquilityBed@2x.png') }}" /></div>
                    <div><img src="{{ asset('images/web/TranquilityBed@2x.png') }}" /></div>
                    <div><img src="{{ asset('images/web/TranquilityBed@2x.png') }}" /></div>
                </div>
            </div>

            <div class="home-banners">
                <div class="row">
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a href="{{ path('web_retailers', {site: site}) }}">
                            <div class="box">
                                <div class="heading">FOR RETAILERS</div>
                                <img src="{{ asset('images/web/ForReatilers@2x.png') }}" />
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a href="{{ path('web_product_features', {site: site}) }}">
                            <div class="box">
                                <div class="heading">PRODUCT FEATURES</div>
                                <img src="{{ asset('images/web/ProductFeatures@2x.png') }}" />
                            </div>
                        </a>
                    </div>
                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <a href="{{ path('web_faq', {site: site}) }}">
                            <div class="box">
                                <div class="heading">WARRANTY/QUESTIONS?</div>
                                <img src="{{ asset('images/web/Warranty@2x.png') }}" />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
{% endblock body %}