{% extends 'website-index.html.twig' %}

{% block title %}MLILY{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('.home-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true,
            });

            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
        });
    </script>
{% endblock footer %}

{% block body %}
    <div class="content-section">
        <div class="retailer-header">
            <div class="title">Support is our<br>greatest priority</div>
            <img src="{{ asset('uploads/websites/' ~ channel.retailHeaderPic) }}" />
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="retailer-form">
                    <div class="title">
                        <img src="{{ asset('images/web/Yellow Round Icon@2x.png') }}" width="70" style="margin-right:13px;"/>MLILY Premier Retailer Program
                    </div>
                    <p>Become a Premier Retailer and receive free Extended Product Warranty coverage for your customers, online access to point of purchase materials, and training tools exclusively from MLILY USA. Your login and password will be emailed automatically and you should receive your retailer kit by mail in 3-5 days!</p>
                    <div class="current-retailer">
                        I am a current Mlily retailer:
                        <span class="button active">Yes</span>
                        <span class="button ">No</span>
                    </div>

                    <div class="form-group">
                        <label for="username">Username (ex: email, store or business name):</label>
                        <input type="text" class="form-control" id="username" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="username">Password:</label>
                        <input type="text" class="form-control" id="username" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="username">Company name*:</label>
                        <input type="text" class="form-control" id="username" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="username">Email*:</label>
                        <input type="text" class="form-control" id="username" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="username">Mgr/Purchaser name*:</label>
                        <input type="text" class="form-control" id="username" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="username">Address1*:</label>
                        <input type="text" class="form-control" id="username" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="username">Address2*:</label>
                        <input type="text" class="form-control" id="username" placeholder="">
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <div class="form-group">
                                <label for="username">City*:</label>
                                <input type="text" class="form-control" id="username" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label for="username">State*:</label>
                                <input type="text" class="form-control" id="username" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="form-group">
                                <label for="username">Zip*:</label>
                                <input type="text" class="form-control" id="username" placeholder="">
                            </div>
                        </div>
                    </div>

                    <div class="current-retailer">
                        Residential Address?*:
                        <span class="button active">Yes</span>
                        <span class="button ">No</span>
                    </div>

                    <hr>

                    <div class="current-retailer">
                        I intend to offer MLILY USA products online:
                        <span class="button active">Yes</span>
                        <span class="button ">No</span>
                    </div>
                    <div class="form-group">
                        <label for="username">Web Address/URL:</label>
                        <p></p>
                    </div>
                    <div class="clearfix">&nbsp;</div>

                    <p>By submitting this form you are agreeing to the <a href="{{ path('web_terms') }}">Mlily Advertising Policy Terms and Conditions</a> including "Products may only be discounted up to 30% off MSRP in print advertisements, online promotions, or through e-commerce. No published sale price may exceed 30% off the MLILY MSRP." No print or online advertisement may directly compare MLILY USA products to any competitor by name or through the use of a trademarked logo.</p>


                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="username">Please enter these characters:</label>
                                <input type="text" class="form-control" id="username" placeholder="">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="username">Not case sensitive</label>
                                <input type="text" class="form-control" id="username" placeholder="">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix" align="center"><a href="#"><img style="max-height: 80px;" src="{{ asset('images/web/RegisterButton@2x.png') }}" /></a></div>
                    <div class="clearfix">&nbsp;</div>

                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="mlily-benifit">
                    <h2>Super charge your sales</h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-5 col-xs-12">
                            <div class="img">
                                <img src="{{ asset('images/web/FR_SupperChargeSales_Image@2x.png') }}" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-7 col-xs-12">
                            <p>Strong margins and superior support. Offer a full lineup with mattresses at every price point. Find the perfect bed for every body.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mlily-benifit">
                    <h2>Less space = more savings</h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-5 col-xs-12">
                            <div class="img">
                                <img src="{{ asset('images/web/FR_LessSpace Image@2x.png') }}" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-7 col-xs-12">
                            <p>Store more in less space with compressed products. Stock a greater variety with One to Show, One to go Promotions. Just in time delivery means lower carrying costs.</p>
                        </div>
                    </div>
                </div>
                <div class="mlily-benifit">
                    <h2>Just what you need, as<br> often as you like</h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-5 col-xs-12">
                            <div class="img">
                                <img src="{{ asset('images/web/FR_Fedex Van Image@2x.png') }}" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-7 col-xs-12">
                            <p>No minimum order. Fedex delivery in as few as 2 days Or Pickup from warehouses nationwide.</p>
                        </div>
                    </div>
                </div>
                <div class="mlily-benifit">
                    <h2>You sell it today, they<br> sleep on it tomorrow</h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-5 col-xs-12">
                            <div class="img">
                                <img src="{{ asset('images/web/FR_You sell It today Image@2x.png') }}" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-7 col-xs-12">
                            <p>Easy shipping and delivery. Avoid the hassle of customer home deliveries. Compressed beds fit in most vehicles or ship directly to homes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}