{% extends 'website-index.html.twig' %}

{% block title %}MLILY{% endblock %}

{% block footer %}
    <script>
        var recaptchaflg = false;

        $(document).ready(function () {
            $('.home-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true
            });

            $('#currentYes').on('click', function() {
                $(this).addClass('active');
                $('#currentNo').removeClass('active');
                $('#currentRetailer').val(1);
            });

            $('#currentNo').on('click', function() {
                $(this).addClass('active');
                $('#currentYes').removeClass('active');
                $('#currentRetailer').val(0);
            });

            $('#residentialYes').on('click', function() {
                $(this).addClass('active');
                $('#residentialNo').removeClass('active');
                $('#residential').val(1);
            });

            $('#residentialNo').on('click', function() {
                $(this).addClass('active');
                $('#residentialYes').removeClass('active');
                $('#residential').val(0);
            });

            $('#onlineYes').on('click', function() {
                $(this).addClass('active');
                $('#onlineNo').removeClass('active');
                $('#online').val(1);
            });

            $('#onlineNo').on('click', function() {
                $(this).addClass('active');
                $('#onlineYes').removeClass('active');
                $('#online').val(0);
            });

            $('#modal-fail').on('hidden.bs.modal', function () {
                $('#modal-fail-body').html('');
            });

            $('#modal-success').on('hidden.bs.modal', function () {
                window.location = '{{ path('website_homepage') }}';
            });

            $('#url').on('change', function(ev) {
                var val = $(this).val();
                if(val.indexOf('http://') != 0)
                    $(this).val('http://' + val);
            });

            $('form#retailer').submit(function(ev) {
                ev.preventDefault();
                if($('#online').val() == '1' && $('#url').val() == "") {
                    $('#modal-fail-body').html('If you intend to offer products online, you must enter a Web Address/URL');
                    $("#modal-fail").modal('show');
                }
                else {
                    if ($('#currentRetailer').val() == '1' && ($('#username').val() == "" || $('#pw').val() == "")) {
                        $('#modal-fail-body').html('If you\'re a current retailer, please enter your username and password. If not, please select "No" next to "I am a current Mlily retailer:"');
                        $('#modal-fail').modal('show');
                    }
                    else {
                        if (recaptchaflg) {
                            $.ajax({
                                type: 'POST',
                                url: "{{ path('api_front_retailer_form') }}",
                                data: $('form#retailer').serialize(),
                                success: function (data) {
                                    if (data[0]) {
                                        $('.form-error').removeClass('form-error');
                                        $('#modal-success-body').html(data[1]);
                                        $('#modal-success').modal('show');
                                    }
                                    else {
                                        grecaptcha.reset();
                                        if (data[1] == 'username taken') {
                                            $('#modal-fail-body').html('The requested username is already in use.');
                                            $('#modal-fail').modal('show');
                                            $('#username-group').addClass('form-error');
                                        }
                                        else {
                                            if (data[1] == 'username not found') {
                                                $('#modal-fail-body').html('Your username was name found.');
                                                $('#modal-fail').modal('show');
                                                $('#username-group').addClass('form-error');
                                            }
                                            else {
                                                if (data[1] == 'email error') {
                                                    $('#modal-fail-body').html('User creation successful, but was not sent to admin for approval. Please call the office or <a href="/contact">contact us</a>.');
                                                    $('#modal-fail').modal('show');
                                                }
                                                else {
                                                    if (data[1].indexOf("I'm sorry there was an error creating the user:") >= 0) {
                                                        $('#modal-fail-body').html(data[1]);
                                                        $('#modal-fail').modal('show');
                                                    }
                                                    else {
                                                        $('#modal-fail-body').html('Recaptcha has expired, please try again.');
                                                        $('#modal-fail').modal('show');
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            });
                        }
                    }
                }
            });
        });

        function recaptchaCallback() {
            recaptchaflg = true;
        }

        function recaptchaExpiredCallback() {
            recaptchaflg = false;
        }
    </script>
    <style>
        .form-error input.form-control {
            border: 1px solid #BF3F3F;
        }
        .form-error label {
            color: #BF3F3F;
        }
    </style>
{% endblock footer %}

{% block body %}
    <div class="content-section">
        <div class="retailer-header">
            <div class="title">Support is our<br>greatest priority</div>
            <img src="{{ asset('uploads/websites/' ~ channel.retailHeaderPic) }}" />
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <form id="retailer">
                    <div class="retailer-form">
                        <div class="title">
                            <img src="{{ asset('images/web/Yellow Round Icon@2x.png') }}" width="70" style="margin-right:13px;"/>MLILY Premier Retailer Program
                        </div>
                        <p>Become a Premier Retailer and receive free Extended Product Warranty coverage for your customers, online access to point of purchase materials, and training tools exclusively from MLILY USA. Your login and password will be emailed automatically and you should receive your retailer kit by mail in 3-5 days!</p>
                        <div class="current-retailer">
                            I am a current Mlily retailer:
                            <input id="currentRetailer" name="currentRetailer" type="hidden" value="0" />
                            <span id="currentYes" class="button">Yes</span>
                            <span id="currentNo" class="button active">No</span>
                        </div>
                        <div id="username-group" class="form-group">
                            <label for="username">Username (ex: email, store or business name)*:</label>
                            <input type="text" class="form-control" id="username" name="username" placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="pw">Password*:</label>
                            <input type="password" class="form-control" id="pw" name="pw" placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="company">Company name*:</label>
                            <input type="text" class="form-control" id="company" name="company" placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email*:</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone*:</label>
                            <input type="tel" class="form-control" id="phone" name="phone" placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="name">Mgr/Purchaser name*:</label>
                            <input type="text" class="form-control" id="name" name="name" placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="address1">Address1*:</label>
                            <input type="text" class="form-control" id="address1" name="address1" placeholder="" required>
                        </div>
                        <div class="form-group">
                            <label for="address2">Address2:</label>
                            <input type="text" class="form-control" id="address2" name="address2" placeholder="">
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <div class="form-group">
                                    <label for="city">City*:</label>
                                    <input type="text" class="form-control" id="city" name="city" placeholder="" required>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="state">State*:</label>
                                    <input type="text" class="form-control" maxlength="2" id="state" name="state" placeholder="" required>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-12">
                                <div class="form-group">
                                    <label for="zip">Zip*:</label>
                                    <input type="text" maxlength="5" class="form-control" id="zip" name="zip" placeholder="" required>
                                </div>
                            </div>
                        </div>
                        <div class="current-retailer">
                            Residential Address?*:
                            <input id="residential" name="residential" type="hidden" value="0" />
                            <span id="residentialYes" class="button">Yes</span>
                            <span id="residentialNo" class="button active">No</span>
                        </div>

                        <hr>

                        <div class="current-retailer">
                            I intend to offer MLILY USA products online:
                            <input id="online" name="online" type="hidden" value="1" />
                            <span id="onlineYes" class="button active">Yes</span>
                            <span id="onlineNo" class="button">No</span>
                        </div>
                        <div id="url-div" class="form-group">
                            <label for="url">Web Address/URL:</label>
                            <input type="url" class="form-control" id="url" name="url" placeholder="">
                        </div>
                        <div class="clearfix">&nbsp;</div>

                        <p>By submitting this form you are agreeing to the <a href="{{ path('web_terms') }}" target="_blank">Mlily Advertising Policy Terms and Conditions</a> including "Products may only be discounted up to 30% off MSRP in print advertisements, online promotions, or through e-commerce. No published sale price may exceed 30% off the MLILY MSRP." No print or online advertisement may directly compare MLILY USA products to any competitor by name or through the use of a trademarked logo.</p>


                        {#<div class="row">#}
                        {#<div class="col-md-6">#}
                        {#<div class="form-group">#}
                        {#<label for="username">Please enter these characters:</label>#}
                        {#<input type="text" class="form-control" id="username" placeholder="">#}
                        {#</div>#}
                        {#</div>#}
                        {#<div class="col-md-6">#}
                        {#<div class="form-group">#}
                        {#<label for="username">Not case sensitive</label>#}
                        {#<input type="text" class="form-control" id="username" placeholder="">#}
                        {#</div>#}
                        {#</div>#}
                        {#</div>#}


                        <div class="clearfix">&nbsp;</div>
                        <div class="clearfix" align="center" style="float:left;display:inline-block"><div class="g-recaptcha" data-sitekey="6LcNZAsUAAAAAMryAnQrTomF0YGxMxHt7OFSaloc" data-callback="recaptchaCallback" data-expired-callback="recaptchaExpiredCallback"></div></div>
                        <div class="clearfix" align="center" style="float:right;display:inline-block"><input id="submit_btn" alt="submit" type="image" style="max-height: 80px;" src="{{ asset('images/web/RegisterButton@2x.png') }}" /></div>
                        <div class="clearfix">&nbsp;</div>

                    </div>
                </form>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="mlily-benifit">
                    <h2>Super charge your sales</h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-5 col-xs-12">
                            <div class="img">
                                <img src="{{ asset('images/web/FR_SupperChargeSales_Image@2x.png') }}" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-7 col-xs-12">
                            <p>Strong margins and superior support. Offer a full lineup with mattresses at every price point. Find the perfect bed for every body.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mlily-benifit">
                    <h2>Less space = more savings</h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-5 col-xs-12">
                            <div class="img">
                                <img src="{{ asset('images/web/FR_LessSpace Image@2x.png') }}" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-7 col-xs-12">
                            <p>Store more in less space with compressed products. Stock a greater variety with One to Show, One to go Promotions. Just in time delivery means lower carrying costs.</p>
                        </div>
                    </div>
                </div>
                <div class="mlily-benifit">
                    <h2>Just what you need, as<br> often as you like</h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-5 col-xs-12">
                            <div class="img">
                                <img src="{{ asset('images/web/FR_Fedex Van Image@2x.png') }}" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-7 col-xs-12">
                            <p>No minimum order. Fedex delivery in as few as 2 days Or Pickup from warehouses nationwide.</p>
                        </div>
                    </div>
                </div>
                <div class="mlily-benifit">
                    <h2>You sell it today, they<br> sleep on it tomorrow</h2>
                    <div class="row">
                        <div class="col-md-6 col-sm-5 col-xs-12">
                            <div class="img">
                                <img src="{{ asset('images/web/FR_You sell It today Image@2x.png') }}" />
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-7 col-xs-12">
                            <p>Easy shipping and delivery. Avoid the hassle of customer home deliveries. Compressed beds fit in most vehicles or ship directly to homes.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-success" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div id="modal-success-body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div id="modal-fail" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div id="modal-fail-body" class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block footbox %}
    <div class="copyright">{{ channel.frontFooterText }}</div>
{% endblock %}