{% extends 'website-index.html.twig' %}

{% block title %}MLILY{% endblock %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('.home-slider').slick({
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplay: true,
                autoplaySpeed: 3000,
                dots: true,
            });

            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });


//            $('#contacted-retailer-y').click(function(){
//                $(this).addClass('active');
//                $('#contacted-retailer-n').removeClass('active');
//                $('#front_warranty_claim_contactedRetailer').val(1);
//
//            });
//            $('#contacted-retailer-n').click(function(){
//                $(this).addClass('active');
//                $('#contacted-retailer-y').removeClass('active');
//                $('#front_warranty_claim_contactedRetailer').val(0);
//            });

        });

        function boolTrigger(yn, elementId, inputId){
            if(yn == true) {
                $('#' + elementId + '-y').addClass('active');
                $('#' + elementId + '-n').removeClass('active');
                $('#front_warranty_claim_' + inputId).val(1);
            }else if(yn === false){
                $('#' + elementId + '-n').addClass('active');
                $('#' + elementId + '-y').removeClass('active');
                $('#front_warranty_claim_' + inputId).val(0);
            }
        }
    </script>
    <style>

    </style>
{% endblock footer %}

{% block body %}
    {{ form_start(form) }}
    <div class="content-section">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
                <h1>Warranty Claim </h1>
                <p>To begin a warranty claim, please complete the following form in its entirety. Your claim will be reviewed and processed within 7 business days.</p>
                <div class="contact-form">
                    <div class="text-right"><img src="{{ asset('images/web/Yellow Round Icon@2x.png') }}" width="70" /></div>
                    <div class="form-group">
                        <label for="username">Your name</label>
                        <input class="form-control" id="username" placeholder="" type="text">
                    </div>
                    <div class="form-group">
                        <label for="username">Your Email Address</label>
                        <input class="form-control" id="username" placeholder="" type="text">
                    </div>
                    <div class="form-group">
                        <label for="username">Address One</label>
                        <input class="form-control" id="username" placeholder="" type="text">
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="username">City*:</label>
                                <input class="form-control" id="username" placeholder="" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="username">State*:</label>
                                <input class="form-control" id="username" placeholder="" type="text">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="username">Zip*:</label>
                                <input class="form-control" id="username" placeholder="" type="text">
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="username">Phone</label>
                        <input class="form-control" id="username" placeholder="" type="text">
                    </div>
                    <div class="form-group">
                        <label for="username">Purchase Date</label>
                        <input class="form-control" id="username" placeholder="" type="text">
                    </div>
                    <div class="form-group">
                        <label for="username">Retailer Name</label>
                        <input class="form-control" id="username" placeholder="" type="text">
                    </div>
                    <div class="form-group">
                        <label for="username">Mattress Model</label>
                        <input class="form-control" id="username" placeholder="" type="text">
                    </div>
                    <div class="form-group">
                        <label for="username">Mattress Size</label>
                        <input class="form-control" id="username" placeholder="" type="text">
                    </div>
                    <div class="form-group">
                        <label for="username">Purchase Price</label>
                        <input class="form-control" id="username" placeholder="" type="text">
                    </div>
                    <div class="form-group">
                        <label for="username">I have contacted the retailer where I purchased my bed</label>
                        <div class="text-left">
                            <span class="option-yn active" id="contacted-retailer-y" onclick="boolTrigger(true,'contacted-retailer', 'contactedRetailer')" >Yes</span>
                            <span class="option-yn" id="contacted-retailer-n" onclick="boolTrigger(false,'contacted-retailer', 'contactedRetailer')">No</span>
                            {{ form_widget(form.contactedRetailer) }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username">Copy of Receipt: Please provide a copy of your original purchase receipt. Can be uploaded as PDF or jpeg *</label>
                        <div class="choose-file pull-left">
                            <span class="button active">Choose file</span>
                            <span class="button ">No file chosen</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username">Copy of Law Label: This is the tag sewn onto the cover with manufacturing information. Can be uploaded as PDF or jpeg *</label>
                        <div class="choose-file pull-left">
                            <span class="button active">Choose file</span>
                            <span class="button ">No file chosen</span>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="clearfix">&nbsp;</div>
                    <h3 class="text-center">WHAT ISSUE ARE YOU EXPERIENCING WITH YOUR MLILY PRODUCT? CHECK ALL THAT APPLY.</h3>
                    <div class="clearfix">&nbsp;</div>


                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <p class="text-left">My mattress was damaged in shipping. *</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="text-right">
                                <span class="option-yn active" id="shipping-damage-y" onclick="boolTrigger(true, 'shipping-damage', 'shippingDamage')">Yes</span>
                                <span class="option-yn" id="shipping-damage-n" onclick="boolTrigger(false, 'shipping-damage', 'shippingDamage')">No</span>
                                {{ form_widget(form.shippingDamage) }}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <p class="text-left">It has been 24-48 hours since I unpacked my bed, mattress has not returned to its normal shape. *</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="text-right">
                                <span class="option-yn active" id="within-48-y" onclick="boolTrigger(true, 'within-48', 'within48' )">Yes</span>
                                <span class="option-yn" id="within-48-n" onclick="boolTrigger(false, 'within-48', 'within48' )">No</span>
                                {{ form_widget(form.within48) }}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <p class="text-left">My mattress is longer/shorter than expected. *</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="text-right">
                                <span class="option-yn active" id="length-different-y" onclick="boolTrigger(true, 'length-different', 'lengthDifferent')">Yes</span>
                                <span class="option-yn" id="length-different-n" onclick="boolTrigger(false, 'length-different', 'lengthDifferent')">No</span>
                                {{ form_widget(form.lengthDifferent) }}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <p class="text-left">My mattress has body impressions. *</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="text-right">
                                <span class="option-yn active" id="body-impression-y" onclick="boolTrigger(true, 'body-impression', 'bodyImpression')">Yes</span>
                                <span class="option-yn" id="body-impression-n" onclick="boolTrigger(false, 'body-impression', 'bodyImpression')">No</span>
                                {{ form_widget(form.bodyImpression) }}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <p class="text-left">I do not like the feel of my mattress. *</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="text-right">
                                <span class="option-yn active" id="feeling-issue-y" onclick="boolTrigger(true, 'feeling-issue', 'feelingIssue')">Yes</span>
                                <span class="option-yn" id="feeling-issue-n" onclick="boolTrigger(false, 'feeling-issue', 'feelingIssue')">No</span>
                                {{ form_widget(form.feelingIssue) }}
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <p class="text-left">I'm having an issue with my pillow. *</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="text-right">
                                <span class="option-yn active">Yes</span>
                                <span class="option-yn">No</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>
                    <div class="row">
                        <div class="col-md-7 col-sm-7 col-xs-12">
                            <p class="text-left">Another problem not mentioned above.*</p>
                        </div>
                        <div class="col-md-5 col-sm-5 col-xs-12">
                            <div class="text-right">
                                <span class="option-yn active">Yes</span>
                                <span class="option-yn">No</span>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix">&nbsp;</div>

                    <div class="clearfix">&nbsp;</div>

                    <div class="char-box">
                        <button type="submit" class="btn btn-primary">Submit warranty claim</button>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
{% block footbox %}
    <div class="copyright">{{ channel.frontFooterText }}</div>
{% endblock %}