<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="icon" type="image/png" href="/web/favicon.png">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.2.3/css/simple-line-icons.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.2/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.11/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.0.2/css/responsive.bootstrap.min.css">
    {% block stylesheets %}
        {% stylesheets '@AppBundle/Resources/public/css/*' filter="cssrewrite" output="css/appBundle.css" %}
        {% endstylesheets %}
        {% stylesheets '@QuickbooksBundle/Resources/public/css/*' filter="cssrewrite" output="css/quickbooksBundle.css" %}
        {% endstylesheets %}
    {% endblock %}
    <link rel="stylesheet" href="{{ asset('css/appBundle.css') }}" />
    <link rel="stylesheet" href="{{ asset('css/quickbooksBundle.css') }}" />
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.png') }}"/>
</head>
<body class="hold-transition login-page" style="background-color: #fff;">
{% block body %}{% endblock %}
<script src="{{ asset('js/jquery-2.2.0.min.js') }}"></script>
{% block javascripts %}
    {% javascripts '@AppBundle/Resources/public/js/*' filter="jsqueeze" output="js/appBundle.js"%}
    {% endjavascripts %}
    {% javascripts '@QuickbooksBundle/Resources/public/js/*' filter="?jsqueeze" output="js/quickbooksBundle.js"%}
    {% endjavascripts %}
{% endblock %}

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
        integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.11/js/dataTables.bootstrap4.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.0.2/js/dataTables.responsive.min.js"></script>
<script type="text/javascript"
        src="https://cdn.datatables.net/responsive/2.0.2/js/responsive.bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.min.js"></script>
<script src="{{ asset('js/appBundle.js') }}"></script>
<script src="{{ asset('js/quickbooksBundle.js') }}"></script>

</body>
{% block footer %}{% endblock %}
<script>

</script>
</html>
