{% extends ':default:layout.html.twig' %}

{% block title %}Attribute{% endblock %}
{% block page_title %}
    Attribute
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('attribute_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
            "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
        });
    </script>
{% endblock footer %}

{% block content %}
    <h1>Attribute</h1>

    <table id="part-table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ attribute.name }}</td>
            </tr>
            <tr>
                <th>Code</th>
                <td>{{ attribute.code }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ attribute.webPath }}"> </td>
            </tr>
        </tbody>
    </table>

        <a class="btn btn-raised btn-success" href="{{ path('attribute_edit', { 'id': attribute.id }) }}">Edit</a>
            {{ form_start(delete_form) }}
                <input style="margin: -75px 0px 0 99px;" class="btn btn-raised btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
{% endblock %}
