{% extends 'base.html.twig' %}

{% block body %}

    {% if is_granted('ROLE_ADMIN') %}
        <style>
            .page-content {
                margin-top: 0px;
                background-color: #eee;
                border-radius: 0 0 0 4px;
            }
        </style>
    {% endif %}
    <div class="wrapper">
    <header class="main-header">

        <a href="{{ path('fos_user_profile_show') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>M</b>H</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><img style="width: 190px;" src="http://matthuddleston.com/wp-content/uploads/2015/11/logo-final-nomal.png"></span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li id="welcome-message" class="dropdown user-menu">
                        <a class="welcome">
                            <span class="username">Welcome back {{ app.user }}</span>
                        </a>
                    </li>
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li>
                        <a href="#" data-toggle="control-sidebar">
                            <span class="username"><i class="fa fa-gears"></i></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href=""><i class="fa fa-user"></i> Update Profile</a>
                            </li>
                            {% if not is_granted('ROLE_ADMIN') %}
                                <li>
                                    <a href=""><i class="fa fa-hdd-o"></i> View All Orders</a>
                                </li>
                            {% endif %}
                            <li>
                                <a href=""><i class="fa fa-key"></i> Change
                                    Password</a>
                            </li>

                            <li class="divider">
                            </li>
                            <li>
                                <a href=""><i class="icon-rocket"></i> Log Out</a>
                            </li>
                        </ul>
                    </li>
                    <!-- END USER LOGIN DROPDOWN -->

                </ul>
            </div>

        </nav>
    </header>

    <!-- BEGIN CONTAINER -->
{% set sidebar_user_group = ['fos_user_group_list', 'fos_user_group_edit', 'fos_user_group_new'] %}
{% set sidebar_users = ['view_users', 'admin_edit_user'] %}
{% set sidebar_price_groups = ['admin_price_group_index', 'admin_price_group_new', 'admin_price_group_edit', 'admin_price_group_show'] %}

            <!-- BEGIN SIDEBAR -->
            <aside class="main-sidebar">
                <section class="sidebar" style="height: auto;">


                    <!-- BEGIN SIDEBAR MENU -->
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>


                        <li {% if (app.request.get('_route') in 'fos_user_profile_show') %} class="active"{% endif %}>
                            <a href="{{ path('fos_user_profile_show') }}">
                                <i class="fa fa-dashboard"></i>
                                <span class="title">Dashboard</span>
                            </a>
                        </li>

                        <li class="treeview">
                            <a href="$">
                                <i class="fa fa-tasks"></i>
                                <span>Assortment</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Categories</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Products</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>POP Items</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Promo Kit Items</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Inventory Levels</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Other</a>
                                </li>
                                {#<li {% if app.request.get('_route') == 'send_invitation' %} class="active"{% endif %}>#}
                                {#<a href="{{ path('send_invitation') }}"><i class="fa fa-user"></i> Send User#}
                                {#Invite</a>#}
                                {#</li>#}


                            </ul>
                        </li>


                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Orders</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Current Orders</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Shipments</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Payments</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Receive Container</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Container List</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Reports</a>
                                </li>
                            </ul>
                        </li>


                        <li class="treeview {% if (app.request.get('_route') in sidebar_user_group) %} active
                        {% elseif (app.request.get('_route') in sidebar_users) %} active
                        {% elseif (app.request.get('_route') in sidebar_price_groups) %} active
                        {% endif %}">
                            <a href="#">
                                <i class="fa fa-users"></i>
                                <span>User</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in sidebar_users) %} class="active"{% endif %}>
                                    <a href="{{ path('view_users') }}"><i class="fa fa-circle-o"></i>Users</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_price_groups) %} class="active"{% endif %}>
                                    <a href="{{ path('admin_price_group_index') }}"><i class="fa fa-circle-o"></i>Price Groups</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_user_group) %} class="active"{% endif %}>
                                    <a href="{{ path('fos_user_group_list') }}"><i class="fa fa-circle-o"></i>Roles</a>
                                </li>
                            </ul>
                        </li>


                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-building-o"></i>
                                <span>Warehouse</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Warehouses</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Warehouse Inventory</a>
                                </li>
                            </ul>
                        </li>


                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-bar-chart"></i>
                                <span>Marketing</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Promotions</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Add New Promotion</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Emails</a>
                                </li>
                            </ul>
                        </li>

                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-info-circle"></i>
                                <span>Support</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Warranty</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Submitted Warranty Claims</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Rebate</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Submitted Rebates</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Request Credit</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Credit Requests</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                    <!-- END SIDEBAR MENU -->
                </section>
            </aside>
            <!-- END SIDEBAR -->


    <!-- BEGIN CONTENT -->
    <div class="content-wrapper">
        <section class="content-header">
            <h1>
                {{ block('page_title') }}
                <small>{{ block('page_name') }}</small>
            </h1>
            <!-- END PAGE HEADER-->
            <div class="row hidden-print" style="margin-top: 10px;">
                <div class="col-xs-12">
                    {% for flash_message in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashbag.get('error') %}
                        <div class="alert alert-error">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="content">
        <!-- BEGIN PAGE CONTENT-->
            {{ block('content') }}
        <!-- END PAGE CONTENT-->
        </section>

    </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.1
            </div>
            <strong><a href="http://matthuddleston.com">Matt Huddleston</a></strong>
        </footer>


    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="">
                <a href="#control-sidebar-home-tab" data-toggle="tab" aria-expanded="false">
                    <i class="fa fa-gears"></i>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane" id="control-sidebar-home-tab">
sdf
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    </div>
{% endblock %}