{% extends 'base.html.twig' %}

{% block body %}
    <style>
        #ledger-total {
            margin-right: 25px;
            border: 1px solid;
            margin-top: 9px;
            background-color: rgb(231, 234, 236);
        }

        .expand {
            height: 70vh;
        }
    </style>
    <div class="wrapper">

        {% set sidebar_user_channels = app.session.get('user_channels') %}

        <header class="main-header no-print">

        <a href="{{ path('fos_user_profile_show') }}" class="logo" style="min-height: 60px;">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>M</b>H</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><img style="width: 190px;" src="/logo-final-nomal.png"></span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">

                    {% if app.user.hasLedger %}
                        <li id="ledger-total" class="">
                            <div class="ledger-total-box">
                                <h6 style="color: #222; padding: 2px; margin: 5px 5px 5px 5px;">
                                    Ledger Balance: ${{ app.user.getLedgerTotal(app.user.activechannel.id) | number_format(2, '.', ',')}}
                                </h6>
                            </div>
                        </li>
                    {% endif %}

                    <!-- display the users Pending Orders('s) -->
                    {% if app.user.hasPendingOrders %}
                        <li id="ledger-total" class="" style="background-color: #ff5722;">
                            <a href="{{ path('my_pending_orders_index') }}" style="padding-top: 0; padding-bottom: 0;">
                            <div class="ledger-total-box">
                                <h6 style=" color: #fff; padding: 2px; margin: 5px 5px 5px 5px; ">
                                    Pending Orders: ${{ app.user.getPendingOrderTotal(app.user.activechannel.id) | number_format(2, '.', ',')}}
                                </h6>
                            </div>
                            </a>
                        </li>
                    {% endif %}
                    <li id="welcome-message" class="dropdown user-menu">
                        <h6 style="margin-top: 17px;color: #fff;">
                            <span class="username">Logged in as {{ app.user }} to {{ app.user.activechannel.name }}</span>
                        </h6>
                    </li>
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    {% if app.user.userchannels|length > 1 %}
                    <li class="dropdown messages-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                            <i class="fa fa-anchor"></i>
                        </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 200px;"><ul class="menu" style="overflow: hidden; width: 100%; height: 200px;">
                                            {% for channel in app.user.userchannels %}
                                                <li><!-- start message -->
                                                    <a href="{{ path('admin_channel_switch', {id: channel.id }) }}">
                                                        <h4>
                                                            {{ channel.name }}
                                                        </h4>
                                                    </a>
                                                </li>
                                            {%  endfor %}
                                            <!-- end message -->

                                        </ul><div class="slimScrollBar" style="background: rgb(0, 0, 0); width: 3px; position: absolute; top: 0px; opacity: 0.4; display: none; border-radius: 7px; z-index: 99; right: 1px; height: 131.148px;"></div><div class="slimScrollRail" style="width: 3px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: rgb(51, 51, 51); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
                                </li>
                            </ul>

                    </li>
                    {% endif %}
                    <li>
                        <a href="#" data-toggle="control-sidebar">
                            <span class="username"><i class="fa fa-gears"></i></span>
                        </a>


                    </li>
                    <!-- END USER LOGIN DROPDOWN -->

                </ul>
            </div>

        </nav>
    </header>

        <!-- COOKIE TO HOLD ALL OF THE ROUTES THAT THE USER CAN ACCESS -->
        {% set route_names = app.session.get('route_names') %}
        <!-- MENU VARIABLES TO HOLD ROUTES. USING ANGULAR WE SEE IF THE CURRENT ROUTE IS IN THE ARRAY TO ADD ACTIVE CLASSES TO THE MENU -->
        {% set tmp = app.request.headers.get('referer')|split('/') %}
        {% set referer_array = [] %}
        {% for t in tmp %}
            {% if t != "" %}
                {% set referer_array = referer_array|merge([t]) %}
            {% endif %}
        {% endfor %}
        {% set sidebar_user_group = ['fos_user_group_list', 'fos_user_group_edit', 'fos_user_group_new', 'fos_user_group_show'] %}
        {% set sidebar_users = ['view_users', 'admin_edit_user'] %}
        {% set sidebar_access_restriction = ['access_restriction'] %}
        {% set sidebar_offices = ['office_index', 'office_edit', 'office_show', 'office_new'] %}
        {% set sidebar_price_groups = ['admin_price_group_index', 'admin_price_group_new', 'admin_price_group_edit', 'admin_price_group_show', 'admin_price_group_edit_prices'] %}
        {% set sidebar_warehouse = ['warehouse_index', 'warehouse_channelled', 'warehouse_new', 'warehouse_edit', 'warehouse_show', 'warehouse_new_purchase_order', 'warehouse_inventory_show', 'warehouse_new_stock_transfer', 'warehouse_new_stock_adjustment'] %}
        {% set sidebar_warehouse_inventory = ['warehouse_inventory_index', 'warehouse_inventory_show'] %}
        {% set sidebar_assortment = ['category_index', 'category_new', 'category_edit', 'category_show'] %}
        {% set sidebar_pop_item_edit = ['pop_item_index', 'pop_item_new', 'pop_item_edit', 'pop_item_show'] %}
        {% set sidebar_manage_options = ['manage_options_index', 'manage_options_new', 'manage_options_edit', 'manage_options_show'] %}
        {% set sidebar_attribute = ['attribute_index', 'attribute_new', 'attribute_edit', 'attribute_show'] %}
        {% set sidebar_admin_products = ['admin_product_index', 'admin_product_new', 'admin_product_edit', 'admin_product_show'] %}
        {% set sidebar_rebate = ['rebate_index', 'rebate_new', 'rebate_edit', 'rebate_show'] %}
        {% set sidebar_specification = ['specification_index', 'specification_new', 'specification_edit', 'specification_show'] %}
        {% set sidebar_channel = ['admin_channel_index', 'admin_channel_new', 'admin_channel_edit', 'admin_channel_show'] %}
        {% set sidebar_promokit = ['promokit_index', 'promokit_new', 'promokit_edit', 'promokit_show'] %}
        {% set sidebar_status = ['status_index', 'status_new', 'status_edit', 'status_show'] %}
        {% set sidebar_stock_adjustment = ['stockadjustment_index', 'stockadjustment_new', 'stockadjustment_edit', 'stockadjustment_show'] %}
        {% set sidebar_purchase_orders = ['purchaseorder_index', 'purchaseorder_new', 'purchaseorder_edit', 'purchaseorder_show'] %}
        {% set sidebar_stock_transfer = ['stocktransfer_index', 'stocktransfer_new', 'stocktransfer_edit', 'stocktransfer_show'] %}
        {% set sidebar_warranty_claims = ['warrantyclaim_index', 'warrantyclaim_edit', 'warrantyclaim_show'] %}
        {% set sidebar_warranty = ['warrantyclaim_new'] %}
        {% set sidebar_rebate_index = ['rebate_index', 'rebate_new', 'rebate_edit', 'rebate_show'] %}
        {% set sidebar_rebate_submit = ['rebate_submit_index', 'rebate_submit_edit', 'rebate_submit_show'] %}
        {% set sidebar_rebate_submit_new = ['rebate_submit_new'] %}
        {% set sidebar_order = ['order_products_index', 'order_pop_index', 'order_products_review', 'order_products_edit'] %}
        {% set sidebar_credit_index = ['ledger_index', 'ledger_edit'] %}
        {% set sidebar_credit_request = ['ledger_new'] %}

            <!-- BEGIN SIDEBAR -->
            <aside class="main-sidebar no-print" style="margin-top: 10px;">
                <section class="sidebar" style="height: auto;">


                    <!-- BEGIN SIDEBAR MENU -->
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>

                        <li >
                            <a href="{{ path('fos_user_profile_show') }}">
                                <i class="fa fa-dashboard"></i>
                                <span class="title">Dashboard</span>
                            </a>
                        </li>

                        <!-- ASSORTMENT SECTION -->
                    {% if 'product_category_index' in route_names
                        or 'manage_options_index' in route_names
                        or 'attribute_index' in route_names
                        or 'admin_product_index' in route_names
                        or 'specification_index' in route_names
                        %}
                        <li class="treeview {% if (app.request.get('_route') in sidebar_assortment) %} active
                        {% elseif (app.request.get('_route') in sidebar_manage_options) %} active
                        {% elseif (app.request.get('_route') in sidebar_attribute) %} active
                        {% elseif (app.request.get('_route') in sidebar_admin_products) %} active
                        {% elseif (app.request.get('_route') in sidebar_specification) %} active
                        {% elseif (app.request.get('_route') in sidebar_pop_item_edit) %} active
                        {% elseif (app.request.get('_route') in sidebar_promokit) %} active
                        {% endif %}">
                            <a href="$">
                                <i class="fa fa-tasks"></i>
                                <span>Assortment</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in sidebar_admin_products) %} class="active"{% endif %}>
                                    <a href="{{ path('admin_product_index') }}"><i class="fa fa-circle-o"></i>Products</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_pop_item_edit) %} class="active"{% endif %}>
                                    <a href="{{ path('pop_item_index') }}"><i class="fa fa-circle-o"></i>POP Items</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_assortment) %} class="active"{% endif %}>
                                    <a href="{{ path('category_index') }}"><i class="fa fa-circle-o"></i>Categories</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_manage_options) %} class="active"{% endif %}>
                                    <a href="{{ path('manage_options_index') }}"><i class="fa fa-circle-o"></i>Options</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_specification) %} class="active"{% endif %}>
                                    <a href="{{ path('specification_index') }}"><i class="fa fa-circle-o"></i>Specifications</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_attribute) %} class="active"{% endif %}>
                                    <a href="{{ path('attribute_index') }}"><i class="fa fa-circle-o"></i>Image Attributes</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_promokit) %} class="active"{% endif %}>
                                    <a href="{{ path('promokit_index') }}"><i class="fa fa-circle-o"></i>Promo Kit Items</a>
                                </li>
                            </ul>
                        </li>
                    {% endif %}

                        <!-- ORDERS SECTION -->
                        {% if 'product_category_index' in route_names
                            or 'order_products_index' in route_names
                            or 'my_orders_index' in route_names
                        %}
                    <li class="treeview {% if (app.request.get('_route') in sidebar_order) %} active
                    {% elseif (app.request.get('_route') in ['my_orders_index']) %} active
                        {% endif %}">
                            <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Orders</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">

                            <li {% if (app.request.get('_route') in sidebar_order and app.request.get('id') == app.user.activechannel.id) %} class="active"{% endif %}>
                                <a href="{{ path('order_products_index', {'id': app.user.activechannel.id}) }}"><i class="fa fa-circle-o"></i>Order Products</a>
                            </li>

                                <li {% if (app.request.get('_route') in ['my_orders_index']) %} class="active"{% endif %}>
                                    <a href="{{ path('my_orders_index') }}"><i class="fa fa-circle-o"></i>My Orders</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Shipments</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Payments</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Reports</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}


                        <!-- USER MANAGEMENT SECTION -->
                        {% if 'office_index' in route_names
                            or 'view_users' in route_names
                            or 'admin_price_group_index' in route_names
                            or 'fos_user_group_list' in route_names
                            or 'access_restriction' in route_names
                            or 'admin_channel_index' in route_names
                        %}
                            <li class="treeview {% if (app.request.get('_route') in sidebar_user_group) %} active
                            {% elseif (app.request.get('_route') in sidebar_users) %} active
                            {% elseif (app.request.get('_route') in sidebar_offices) %} active
                            {% elseif (app.request.get('_route') in sidebar_access_restriction) %} active
                            {% elseif (app.request.get('_route') in sidebar_price_groups) %} active
                            {% elseif (app.request.get('_route') in sidebar_channel) %} active
                            {% endif %}">

                            <a href="#">
                                    <i class="fa fa-users"></i>
                                    <span>User Management</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    {% if 'office_index' in route_names %}
                                        <li {% if (app.request.get('_route') in sidebar_offices) %} class="active"{% endif %}>
                                            <a href="{{ path('office_index') }}"><i class="fa fa-circle-o"></i>Offices</a>
                                        </li>
                                    {% endif %}
                                    {% if 'view_users' in route_names %}
                                        <li {% if (app.request.get('_route') in sidebar_users) %} class="active"{% endif %}>
                                            <a href="{{ path('view_users') }}"><i class="fa fa-circle-o"></i>Users</a>
                                        </li>
                                    {% endif %}
                                    {% if 'admin_price_group_index' in route_names %}
                                        <li {% if (app.request.get('_route') in sidebar_price_groups) %} class="active"{% endif %}>
                                            <a href="{{ path('admin_price_group_index') }}"><i class="fa fa-circle-o"></i>Price Groups</a>
                                        </li>
                                    {% endif %}
                                    {% if 'fos_user_group_list' in route_names %}
                                        <li {% if (app.request.get('_route') in sidebar_user_group) %} class="active"{% endif %}>
                                            <a href="{{ path('fos_user_group_list') }}"><i class="fa fa-circle-o"></i>Roles</a>
                                        </li>
                                    {% endif %}
                                    {% if 'access_restriction' in route_names %}
                                        <li {% if (app.request.get('_route') in sidebar_access_restriction) %} class="active"{% endif %}>
                                            <a href="{{ path('access_restriction') }}"><i class="fa fa-circle-o"></i>Access Restriction</a>
                                        </li>
                                    {% endif %}
                                    {% if 'admin_channel_index' in route_names %}
                                        <li {% if (app.request.get('_route') in sidebar_channel) %} class="active"{% endif %}>
                                            <a href="{{ path('admin_channel_index') }}"><i class="fa fa-circle-o"></i>Channels</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        <!-- WAREHOUSE SECTION -->
                        {% if 'warehouse_index' in route_names %}
                        <li class="treeview {% if (app.request.get('_route') in sidebar_warehouse) %} active
                        {% elseif (app.request.get('_route') in sidebar_warehouse_inventory) %} active
                        {% elseif (app.request.get('_route') in sidebar_status) %} active
                        {% elseif (app.request.get('_route') in sidebar_stock_adjustment) %} active
                        {% elseif (app.request.get('_route') in sidebar_stock_transfer) %} active
                        {% elseif (app.request.get('_route') in sidebar_purchase_orders) %} active
                        {% endif %}" >
                            <a href="#">
                                <i class="fa fa-building-o"></i>
                                <span>Warehouse</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                {#{% if 'warehouse_index' in route_names %}#}
                                    {#<li {% if (app.request.get('_route') in sidebar_warehouse and app.request.get('_route') != "warehouse_channelled" and (app.request.get('_route_params') == [] or referer_array|last == "warehouse")) %} class="active"{% endif %}>#}
                                        {#<a href="{{ path('warehouse_index') }}"><i class="fa fa-circle-o"></i>Warehouses</a>#}
                                    {#</li>#}
                                {#{% endif %}#}
                                <li {% if (app.request.get('_route') in sidebar_warehouse and app.request.get('_route') != "warehouse_index" and ((app.user.activechannel.name == app.request.get('_route_params').channelName ?? false and app.user.activechannel.name != referer_array|last) or (app.user.activechannel.name == app.request.get('_route_params').channelName ?? false and app.user.activechannel.name == referer_array|last) or (app.user.activechannel.name == referer_array|last and app.request.get('_route_params').id ?? false))) %} class="active"{% endif %}>
                                    <a href="{{ path('warehouse_channelled', {'channelName': app.user.activechannel.name}) }}"><i class="fa fa-circle-o"></i>Warehouses</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_purchase_orders) %} class="active"{% endif %}>
                                    <a href="{{ path('purchaseorder_index') }}"><i class="fa fa-circle-o"></i>Receiving Stock</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_stock_transfer) %} class="active"{% endif %}>
                                    <a href="{{ path('stocktransfer_index') }}"><i class="fa fa-circle-o"></i>Stock Transfer</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_stock_adjustment) %} class="active"{% endif %}>
                                    <a href="{{ path('stockadjustment_index') }}"><i class="fa fa-circle-o"></i>Stock Adjustments</a>
                                </li>
                            </ul>
                        </li>
                {% endif %}
                        {% if 'access_restriction' in route_names
                        %}
                        <!-- MARKETING SECTION -->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-bar-chart"></i>
                                <span>Marketing</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Promotions</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Add New Promotion</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Emails</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}
                        {% if 'warrantyclaim_index' in route_names %}
                        <!-- WARRANTY SECTION -->
                        <li class="treeview {% if (app.request.get('_route') in sidebar_warranty_claims) %} active
                            {% elseif (app.request.get('_route') in sidebar_warranty) %} active
                            {% endif %}">

                            <a href="#">
                                <i class="fa fa-archive"></i>
                                <span>Warranty</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in sidebar_warranty_claims) %} class="active"{% endif %}>
                                    <a href="{{ path('warrantyclaim_index') }}"><i class="fa fa-circle-o"></i>Warranty Claims</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_warranty and app.request.get('id') == app.user.activechannel.id) %} class="active"{% endif %}>
                                    <a href="{{ path('warrantyclaim_new', { 'id': app.user.activechannel.id }) }}"><i class="fa fa-circle-o"></i>New Warranty Claim</a>
                                </li>
                            </ul>
                        </li>
                        {% endif %}

                        <li class="treeview {% if (app.request.get('_route') in sidebar_rebate_index) %} active
                            {% elseif (app.request.get('_route') in sidebar_rebate_submit_new) %} active
                            {% elseif (app.request.get('_route') in sidebar_rebate_submit) %} active
                            {% endif %}">

                            <a href="#">
                                <i class="fa fa-info-circle"></i>
                                <span>Support</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in sidebar_rebate_index) %} class="active"{% endif %}>
                                    {% if (is_granted('ROLE_ADMIN') or is_granted('ROLE_SALES_MANAGER')) %}
                                        <a href="{{ path('rebate_index') }}"><i class="fa fa-circle-o"></i>Rebates</a>
                                    {% else %}
                                        <a href="{{ path('rebate_index') }}"><i class="fa fa-circle-o"></i>Rebates Available</a>
                                    {% endif %}
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_rebate_submit_new and app.request.get('id') == app.user.activechannel.id) %} class="active"{% endif %}>
                                    <a href="{{ path('rebate_submit_new', { 'id': app.user.activechannel.id }) }}"><i class="fa fa-circle-o"></i>Submit Rebate</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_rebate_submit) %} class="active"{% endif %}>
                                    <a href="{{ path('rebate_submit_index') }}"><i class="fa fa-circle-o"></i>Rebate Submissions</a>
                                </li>

                                <li {% if (app.request.get('_route') =='retailer_affiliates') %} class="active"{% endif %}>
                                    <a href="{{ path('retailer_affiliates') }}"><i class="fa fa-circle-o"></i>Affiliates Map</a>
                                </li>
                            </ul>
                        </li>


                        <li class="treeview {% if (app.request.get('_route') in sidebar_credit_index) %} active
                            {% elseif (app.request.get('_route') in sidebar_credit_request) %} active
                            {% endif %}">

                            <a href="#">
                                <i class="fa fa-usd"></i>
                                <span>Ledger</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in sidebar_credit_index) %} class="active"{% endif %}>
                                    <a href="{{ path('ledger_index') }}"><i class="fa fa-circle-o"></i>Transactions</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_credit_request and app.request.get('id') == app.user.activechannel.id) %} class="active"{% endif %}>
                                    <a href="{{ path('ledger_new', {'id': app.user.activechannel.id}) }}"><i class="fa fa-circle-o"></i>Fund</a>
                                </li>
                                {% if (is_granted('ROLE_ADMIN')) %}
                                <li {% if (app.request.get('_route') in sidebar_credit_index) %} class="active"{% endif %}>
                                    <a href="{{ path('ledger_credit_new', {'id': app.user.activechannel.id}) }}"><i class="fa fa-circle-o"></i>Assign Credit</a>
                                </li>
                                {% endif %}
                            </ul>
                        </li>

                        <li class="header">LINKS</li>
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o text-aqua"></i>
                                <span>Resources</span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <i class="fa fa-circle-o" style="color: #4caf50;"></i>
                                <span>Contact Us</span>
                            </a>
                        </li>
                    </ul>
                    <!-- END SIDEBAR MENU -->
                </section>
            </aside>
            <!-- END SIDEBAR -->


    <!-- BEGIN CONTENT -->
    <div class="content-wrapper" style="min-height: 100vh;">
        <section class="content-header" style="padding-top: 30px;">
            <h1>
                {{ block('page_title') }}
                <small>{{ block('page_name') }}</small>
            </h1>
            <!-- END PAGE HEADER-->
            <div class="row hidden-print" style="margin-top: 10px;">
                <div class="col-xs-12">
                    {% for flash_message in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashbag.get('error') %}
                        <div class="alert alert-error alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="content">
        <!-- BEGIN PAGE CONTENT-->
            {{ block('content') }}
        <!-- END PAGE CONTENT-->
        </section>

    </div>
        <footer class="main-footer no-print">
            <div >
                <a href="http://245tech.com"><img style="max-width: 40px;" src="https://245.tech/wp-content/uploads/2015/06/logoforslider.png" /></a>
                <b>Version</b> 0.2.45
            </div>
        </footer>


    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active" style="">
                <a href="#control-sidebar-home-tab" data-toggle="tab" aria-expanded="false">
                    <i class="fa fa-gears"></i>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane active" id="control-sidebar-home-tab">
                <a style="width: 100%;" class="btn btn-raised btn-default" href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-user"></i> Update Info</a>
                <a style="width: 100%;margin-top: 15px;margin-bottom: 15px;" class="btn btn-raised btn-default" href="{{ path('fos_user_change_password') }}"><i class="fa fa-lock"></i> Change Password</a>
                {#<a style="width: 100%;margin-top: 15px;margin-bottom: 15px;" class="btn btn-raised btn-default" href="{{ path('qb_import_home') }}"><i class="fa fa-lock"></i> Import Settings</a>#}
                {#<a style="width: 100%;margin-top: 15px;margin-bottom: 15px;" class="btn btn-raised btn-default" href="{{ path('show_settings') }}"><i class="fa fa-lock"></i> Settings</a>#}
                <hr>
                <a style="width: 100%;" class="btn btn-raised btn-default" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    </div>
{% endblock %}