{% extends 'base.html.twig' %}

{% block body %}

    <div class="wrapper">
    <header class="main-header">

        <a href="{{ path('fos_user_profile_show') }}" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini"><b>M</b>H</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg"><img style="width: 190px;" src="http://matthuddleston.com/wp-content/uploads/2015/11/logo-final-nomal.png"></span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <li id="welcome-message" class="dropdown user-menu">
                        <a class="welcome">
                            <span class="username">Logged in as {{ app.user }}</span>
                        </a>
                    </li>
                    <!-- BEGIN USER LOGIN DROPDOWN -->
                    <li>
                        <a href="#" data-toggle="control-sidebar">
                            <span class="username"><i class="fa fa-gears"></i></span>
                        </a>


                    </li>
                    <!-- END USER LOGIN DROPDOWN -->

                </ul>
            </div>

        </nav>
    </header>

        <!-- COOKIE TO HOLD ALL OF THE ROUTES THAT THE USER CAN ACCESS -->
        {% set route_names = app.request.cookies.get('route_names') |split(',') %}
{#{{ dump(route_names) }}#}
        <!-- MENU VARIABLES TO HOLD ROUTES. USING ANGULAR WE SEE IF THE CURRENT ROUTE IS IN THE ARRAY TO ADD ACTIVE CLASSES TO THE MENU -->
        {% set sidebar_user_group = ['fos_user_group_list', 'fos_user_group_edit', 'fos_user_group_new', 'fos_user_group_show'] %}
        {% set sidebar_users = ['view_users', 'admin_edit_user'] %}
        {% set sidebar_access_restriction = ['access_restriction'] %}
        {% set sidebar_offices = ['office_index', 'office_edit', 'office_show', 'office_new'] %}
        {% set sidebar_price_groups = ['admin_price_group_index', 'admin_price_group_new', 'admin_price_group_edit', 'admin_price_group_show'] %}
        {% set sidebar_warehouse = ['warehouse_index', 'warehouse_new', 'warehouse_edit', 'warehouse_show'] %}
        {% set sidebar_assortment = ['product_category_index', 'product_category_new', 'product_category_edit', 'product_category_show'] %}
        {% set sidebar_manage_options = ['manage_options_index', 'manage_options_new', 'manage_options_edit', 'manage_options_show'] %}

            <!-- BEGIN SIDEBAR -->
            <aside class="main-sidebar">
                <section class="sidebar" style="height: auto;">


                    <!-- BEGIN SIDEBAR MENU -->
                    <ul class="sidebar-menu">
                        <li class="header">MAIN NAVIGATION</li>


                        <li >
                            <a href="{{ path('fos_user_profile_show') }}">
                                <i class="fa fa-dashboard"></i>
                                <span class="title">Dashboard</span>
                            </a>
                        </li>


                        <!-- ASSORTMENT SECTION -->
                        <li class="treeview {% if (app.request.get('_route') in sidebar_assortment) %} active
                        {% elseif (app.request.get('_route') in sidebar_manage_options) %} active
                        {% endif %}">
                            <a href="$">
                                <i class="fa fa-tasks"></i>
                                <span>Assortment</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Products</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_assortment) %} class="active"{% endif %}>
                                    <a href="{{ path('product_category_index') }}"><i class="fa fa-circle-o"></i>Categories</a>
                                </li>
                                <li {% if (app.request.get('_route') in sidebar_manage_options) %} class="active"{% endif %}>
                                    <a href="{{ path('manage_options_index') }}"><i class="fa fa-circle-o"></i>Options</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Attributes</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>POP Items</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Promo Kit Items</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Inventory Levels</a>
                                </li>

                            </ul>
                        </li>

                        <!-- ORDERS SECTION -->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-shopping-cart"></i>
                                <span>Orders</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Current Orders</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Shipments</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Payments</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Receive Container</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Container List</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Reports</a>
                                </li>
                            </ul>
                        </li>

                        <!-- USER MANAGEMENT SECTION -->
                        {% if 'office_index' in route_names
                            or 'view_users' in route_names
                            or 'admin_price_group_index' in route_names
                            or 'fos_user_group_list' in route_names
                            or 'access_restriction' in route_names
                        %}
                            <li class="treeview {% if (app.request.get('_route') in sidebar_user_group) %} active
                            {% elseif (app.request.get('_route') in sidebar_users) %} active
                            {% elseif (app.request.get('_route') in sidebar_offices) %} active
                            {% elseif (app.request.get('_route') in sidebar_access_restriction) %} active
                            {% elseif (app.request.get('_route') in sidebar_price_groups) %} active
                            {% endif %}">

                            <a href="#">
                                    <i class="fa fa-users"></i>
                                    <span>User Management</span>
                                    <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                    {% if 'office_index' in route_names %}
                                        <li {% if (app.request.get('_route') in sidebar_offices) %} class="active"{% endif %}>
                                            <a href="{{ path('office_index') }}"><i class="fa fa-circle-o"></i>Offices</a>
                                        </li>
                                    {% endif %}
                                    {% if 'view_users' in route_names %}
                                        <li {% if (app.request.get('_route') in sidebar_users) %} class="active"{% endif %}>
                                            <a href="{{ path('view_users') }}"><i class="fa fa-circle-o"></i>Users</a>
                                        </li>
                                    {% endif %}
                                    {% if 'admin_price_group_index' in route_names %}
                                        <li {% if (app.request.get('_route') in sidebar_price_groups) %} class="active"{% endif %}>
                                            <a href="{{ path('admin_price_group_index') }}"><i class="fa fa-circle-o"></i>Price Groups</a>
                                        </li>
                                    {% endif %}
                                    {% if 'fos_user_group_list' in route_names %}
                                        <li {% if (app.request.get('_route') in sidebar_user_group) %} class="active"{% endif %}>
                                            <a href="{{ path('fos_user_group_list') }}"><i class="fa fa-circle-o"></i>Roles</a>
                                        </li>
                                    {% endif %}
                                    {% if 'access_restriction' in route_names %}
                                        <li {% if (app.request.get('_route') in sidebar_access_restriction) %} class="active"{% endif %}>
                                            <a href="{{ path('access_restriction') }}"><i class="fa fa-circle-o"></i>Access Restriction</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </li>
                        {% endif %}

                        <!-- WAREHOUSE SECTION -->
                        {% if 'warehouse_index' in route_names %}
                        <li class="treeview {% if (app.request.get('_route') in sidebar_warehouse) %} active {% endif %}" >
                            <a href="#">
                                <i class="fa fa-building-o"></i>
                                <span>Warehouse</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                {% if 'warehouse_index' in route_names %}
                                    <li {% if (app.request.get('_route') in sidebar_warehouse) %} class="active"{% endif %}>
                                        <a href="{{ path('warehouse_index') }}"><i class="fa fa-circle-o"></i>Warehouses</a>
                                    </li>
                                {% endif %}
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Warehouse Inventory</a>
                                </li>
                            </ul>
                        </li>
                {% endif %}
                        <!-- MARKETING SECTION -->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-bar-chart"></i>
                                <span>Marketing</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Promotions</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Add New Promotion</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Emails</a>
                                </li>
                            </ul>
                        </li>

                        <!-- SUPPORT SECTION -->
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-info-circle"></i>
                                <span>Support</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Warranty</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Submitted Warranty Claims</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Rebate</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Submitted Rebates</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Request Credit</a>
                                </li>
                                <li {% if (app.request.get('_route') in ['matt']) %} class="active"{% endif %}>
                                    <a href=""><i class="fa fa-circle-o"></i>Credit Requests</a>
                                </li>
                            </ul>
                        </li>


                    </ul>
                    <!-- END SIDEBAR MENU -->
                </section>
            </aside>
            <!-- END SIDEBAR -->


    <!-- BEGIN CONTENT -->
    <div class="content-wrapper" style="min-height: 100vh;">
        <section class="content-header">
            <h1>
                {{ block('page_title') }}
                <small>{{ block('page_name') }}</small>
            </h1>
            <!-- END PAGE HEADER-->
            <div class="row hidden-print" style="margin-top: 10px;">
                <div class="col-xs-12">
                    {% for flash_message in app.session.flashbag.get('notice') %}
                        <div class="alert alert-success">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                    {% for flash_message in app.session.flashbag.get('error') %}
                        <div class="alert alert-error">
                            {{ flash_message }}
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="content">
        <!-- BEGIN PAGE CONTENT-->
            {{ block('content') }}
        <!-- END PAGE CONTENT-->
        </section>

    </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 0.1
            </div>
            <strong><a href="http://matthuddleston.com">Matt Huddleston</a></strong>
        </footer>


    <aside class="control-sidebar control-sidebar-dark">
        <!-- Create the tabs -->
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">
            <li class="active" style="">
                <a href="#control-sidebar-home-tab" data-toggle="tab" aria-expanded="false">
                    <i class="fa fa-gears"></i>
                </a>
            </li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <!-- Home tab content -->
            <div class="tab-pane active" id="control-sidebar-home-tab">
                <a style="width: 100%;" class="btn btn-flat btn-default" href="{{ path('fos_user_profile_edit') }}"><i class="fa fa-user"></i> Update Info</a>
                <a style="width: 100%;margin-top: 15px;margin-bottom: 15px;" class="btn btn-flat btn-default" href="{{ path('fos_user_change_password') }}"><i class="fa fa-lock"></i> Change Password</a>
                <hr>
                <a style="width: 100%;" class="btn btn-flat btn-default" href="{{ path('fos_user_security_logout') }}"><i class="fa fa-sign-out"></i> Logout</a>
            </div>
            <!-- /.tab-pane -->
        </div>
    </aside>
    </div>
{% endblock %}