{% extends ':default:layout.html.twig' %}

{% block title %}Channel Edit{% endblock %}
{% block page_title %}
    Channel Edit
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('admin_channel_index') }}"> < Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                }}
            });



            $(".file-wrap .form-group").each(function () {
                if (!$(this).hasClass('is-empty')) {
                    $(this).parent().find('.file-input').css("background-color", "green");
                    $(this).parent().find('.file-input').append("<span class=''>&#10004;</span>");
                }
            });


            $("input:file").change(function(){
                 var parent = $(this).parents('.file-wrap').find('.file-input');
                 if(parent.css('background-color')!== 'rgb(144, 238, 144)'){
                     parent.css({'background-color':'lightgreen', 'opacity':'1.0'}).append('<span> &#10004;</span>')
                 }
            })

        });
    </script>
{% endblock footer %}

{% block content %}
    {{ form_start(edit_form) }}
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10" style="padding:20px; background-color:white; border-radius:50px;">
            <div class="row">
                <div class="col-md-12 page-banner homepage" data-toggle="modal" data-target="#homepage-modal">Homepage</div>
            </div>
            <div class="row">
                <h5 class="text-center" >Only import images for ones you wish to replace. Any ignored image fields will remain as they were</h5>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(edit_form.name) }}
                    {{ form_widget(edit_form.name) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(edit_form.url) }}
                    {{ form_widget(edit_form.url) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(edit_form.fbLink) }}
                    {{ form_widget(edit_form.fbLink) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(edit_form.twLink) }}
                    {{ form_widget(edit_form.twLink) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(edit_form.instaLink) }}
                    {{ form_widget(edit_form.instaLink) }}
                </div>
                <div class="col-md-4">
                    {{ form_label(edit_form.frontFooterText) }}
                    {{ form_widget(edit_form.frontFooterText) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.frontSliderOne) }}
                    {{ form_widget(edit_form.frontSliderOne) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.frontSliderOne) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.frontSliderTwo) }}
                    {{ form_widget(edit_form.frontSliderTwo) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.frontSliderTwo) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.frontSliderThree) }}
                    {{ form_widget(edit_form.frontSliderThree) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.frontSliderThree) }}" class="image-uploaded">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.frontFooterOne) }}
                    {{ form_widget(edit_form.frontFooterOne) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.frontFooterOne) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.frontFooterTwo) }}
                    {{ form_widget(edit_form.frontFooterTwo) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.frontFooterTwo) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.frontFooterThree) }}
                    {{ form_widget(edit_form.frontFooterThree) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.frontFooterThree) }}" class="image-uploaded">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.frontLogo) }}
                    {{ form_widget(edit_form.frontLogo) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.frontLogo) }}" class="image-uploaded">
                </div>
                <div class="col-md-4">
                    {{ form_label(edit_form.company_name) }}
                    {{ form_widget(edit_form.company_name) }}
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.siteBackgroundColor) }}
                    {{ form_widget(edit_form.siteBackgroundColor) }}
                    <p>applies to background color when signed in this channel</p>
                    <p>use <a href="http://www.w3schools.com/colors/colors_picker.asp" target="_blank">W3 schools Color Picker</a></p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 page-banner" data-toggle="modal" data-target="#faq-modal">FAQ Page</div>
            </div>
            <div class="row">
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.faqWarrantyPic) }}
                    {{ form_widget(edit_form.faqWarrantyPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.faqWarrantyPic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.faqUnpackingPic) }}
                    {{ form_widget(edit_form.faqUnpackingPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.faqUnpackingPic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.faqSupportPic) }}
                    {{ form_widget(edit_form.faqSupportPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.faqSupportPic) }}" class="image-uploaded">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.faqMaintenancePic) }}
                    {{ form_widget(edit_form.faqMaintenancePic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.faqMaintenancePic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.faqContactPic) }}
                    {{ form_widget(edit_form.faqContactPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.faqContactPic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.faqTCPic) }}
                    {{ form_widget(edit_form.faqTCPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.faqTCPic) }}" class="image-uploaded">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 page-banner" data-toggle="modal" data-target="#features-modal">Product Features Page</div>
            </div>
            <div class="row">
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.pFMemoryFoamPic) }}
                    {{ form_widget(edit_form.pFMemoryFoamPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.pFMemoryFoamPic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.pFSidePic) }}
                    {{ form_widget(edit_form.pFSidePic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.pFSidePic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.pFRenewResourcewPic) }}
                    {{ form_widget(edit_form.pFRenewResourcewPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.pFRenewResourcewPic) }}" class="image-uploaded">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.pFsocsPic) }}
                    {{ form_widget(edit_form.pFsocsPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.pFsocsPic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.pFpboPic) }}
                    {{ form_widget(edit_form.pFpboPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.pFpboPic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.pFBCharcoalPic) }}
                    {{ form_widget(edit_form.pFBCharcoalPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.pFBCharcoalPic) }}" class="image-uploaded">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.pFBFibersPic) }}
                    {{ form_widget(edit_form.pFBFibersPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.pFBFibersPic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.pFSilkPic) }}
                    {{ form_widget(edit_form.pFSilkPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.pFSilkPic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.pFAloeVeraPic) }}
                    {{ form_widget(edit_form.pFAloeVeraPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.pFAloeVeraPic) }}" class="image-uploaded">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.pFCertifiedPic) }}
                    {{ form_widget(edit_form.pFCertifiedPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.pFCertifiedPic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.pFTexStandPic) }}
                    {{ form_widget(edit_form.pFTexStandPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.pFTexStandPic) }}" class="image-uploaded">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 page-banner" data-toggle="modal" data-target="#retailers-modal">Retailer Page</div>
            </div>
            <div class="row">
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.retailHeaderPic) }}
                    {{ form_widget(edit_form.retailHeaderPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.retailHeaderPic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.retailFirstPic) }}
                    {{ form_widget(edit_form.retailFirstPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.retailFirstPic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.retailSecondPic) }}
                    {{ form_widget(edit_form.retailSecondPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.retailSecondPic) }}" class="image-uploaded">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.retailThirdPic) }}
                    {{ form_widget(edit_form.retailThirdPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.retailThirdPic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.retailFourthPic) }}
                    {{ form_widget(edit_form.retailFourthPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.retailFourthPic) }}" class="image-uploaded">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 page-banner" data-toggle="modal" data-target="#backend-modal">Backend (app)</div>
            </div>
            <div class="row">
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.backendHeaderPic) }}
                    {{ form_widget(edit_form.backendHeaderPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.backendHeaderPic) }}" class="image-uploaded">
                </div>
                <div class="col-md-4 file-wrap">
                    {{ form_label(edit_form.backendOrdersPic) }}
                    {{ form_widget(edit_form.backendOrdersPic) }}
                    <img src="{{ asset('/uploads/websites/' ~ channel.backendOrdersPic) }}" class="image-uploaded">
                </div>
            </div>


            <input class="btn btn-raised btn-success" type="submit" value="Update" />
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
            <input class="btn btn-raised btn-danger" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </div>
    </div>

    <!--  BANNERS   -->

    <div id="homepage-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Homepage Changes</h4>
                </div>
                <div class="modal-body">
                    <p>All changes made within the Homepage section will effect the homepage of your site</p>
                    <img src="{{ asset('images/channel_sitemap_helpers/sitemapmlily.png') }}" style="width:100%; height:600px;"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="faq-modal" class="modal fade" role="dialog">
        <div class="modal-dialog" style="wid">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">FAQ Page Changes</h4>
                </div>
                <div class="modal-body">
                    <p>All changes made within the FAQ section will effect the FAQ page of your site</p>
                    <img src="{{ asset('images/channel_sitemap_helpers/faq-sitemap1.png') }}" style="width:100%; height:800px;"/>
                    <img src="{{ asset('images/channel_sitemap_helpers/faq-sitemap2.png') }}" style="width:80%; height:700px;"/>
                    <img src="{{ asset('images/channel_sitemap_helpers/faq-sitemap3.png') }}" style="width:80%; height:700px;"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="features-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">FAQ Page Changes</h4>
                </div>
                <div class="modal-body">
                    <p>All changes made within the Features section will effect the Product Features page of your site</p>
                    <img src="{{ asset('images/channel_sitemap_helpers/pf-sitemap1.png') }}" style="width:100%; height:800px;"/>
                    <img src="{{ asset('images/channel_sitemap_helpers/pf-sitemap2.png') }}" style="width:100%; height:800px;"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="retailers-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">FAQ Page Changes</h4>
                </div>
                <div class="modal-body">
                    <p>All changes made within the Features section will effect the Product Features page of your site</p>
                    <img src="{{ asset('images/channel_sitemap_helpers/retailer-sitemap1.png') }}" style="width:100%; height:800px;"/>
                    <img src="{{ asset('images/channel_sitemap_helpers/retailer-sitemap2.png') }}" style="width:100%; height:800px;"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="backend-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">FAQ Page Changes</h4>
                </div>
                <div class="modal-body">
                    <p>All changes made within the Backend section will effect the backend of your site</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

    <div id="backend-modal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">FAQ Page Changes</h4>
                </div>
                <div class="modal-body">
                    <p>All changes made within the Backend section will effect the backend of your site</p>
                    <img src="{{ asset('uploads/documents/retailer-sitemap1.png') }}" style="width:100%; height:800px;"/>
                    <img src="{{ asset('uploads/documents/retailer-sitemap2.png') }}" style="width:100%; height:800px;"/>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>
    <!-- end of banners -->


    <style>

      input[type=file]{
          z-index:-1;
      }

        .form-group, .form-control{
            border:none;

        }

        .file-input{
            margin-top:40px;
            font-size:1.25em;
            font-weight:700;
            color:black;
            background-color: #42A5F5;
            display:inline-block;
            padding:5px 10px;
            opacity:.5;
            -webkit-transition: opacity .7s, background-color .7s;
            -moz-transition: opacity .7s, background-color .7s;
            -ms-transition: opacity .7s, background-color .7s;
            -o-transition: opacity .7s, background-color .7s;
            transition: opacity .7s, background-color .7s;
        }

        .file-input:focus, .file-input:hover{
            background-color:deepskyblue;
            /*outline: 1px dotted #000;*/
            /*outline: -webkit-focus-ring-color auto 5px;*/
            opacity:.7;
        }

        .file-input{
            cursor:pointer;
            Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
        }

      .page-banner{
          text-align: center;
          background-color: #42A5F5;
          height: 50px;
          width:100.7%;
          /*border-radius: 30px;*/
          margin-bottom: 60px;
          margin-top:40px;
          margin-left:-5px;
          padding-top:12px;
          font-size: x-large;
          margin-right:0;
          padding-left:0;
          padding-right:0;
          cursor:help;
          opacity:.7;
          -webkit-transition: opacity .7s, background-color .7s;
          -moz-transition: opacity .7s, background-color .7s;
          -ms-transition: opacity .7s, background-color .7s;
          -o-transition: opacity .7s, background-color .7s;
          transition: opacity .7s, background-color .7s;
      }

      .homepage{
          top: 0;
          margin-top: -20px;
          height: 100px;
          border-radius: 50px 50px 1px 1px;
          border-top-left-radius: 50px;
          border-top-right-radius: 50px;
          border-bottom-right-radius: 1px;
          border-bottom-left-radius: 1px;
      }

        .page-banner:hover{
            background-color:#0fb2fc;
            opacity: 1.0
        }

        .modal-dialog{
            width:50%;
        }

        .text-center{
            padding-bottom:50px;
            color:grey;
        }

        .image-uploaded{
            height:auto;
            width:200px;
        }
    </style>
{% endblock %}
