{% extends ':default:layout.html.twig' %}

{% block title %}Price Group{% endblock %}
{% block page_title %}
    Edit Price Group
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('admin_price_group_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
        });

        var app = angular.module('myApp', []);
        app.controller('myCtrl', ['$scope', function($scope) {
            $scope.changed_products = [];

            $scope.changeProductVariantPrice = function (id) {
                if($scope.changed_products[id]) {
                    var price = $('#'+id).val();
                    $scope.changed_products[id].price = price;
                }
                else {
                    var price = $('#'+id).val();
                    $scope.changed_products[id] = {product_variant_id: id, price: price, price_group_id: {{ priceGroup.id }}};
                }

                console.log($scope.changed_products);
            };

            $scope.save = function () {
                $.ajax({
                    type: 'POST',
                    url: "{{ path('api_update_product_price') }}",
                    dataType: 'json',
                    data: {changed_products: $scope.changed_products},
                    success: function (data) {
                        var $div = $("#alert");
                        $scope.$apply(function () {
                            $div.show();
                            setTimeout(function() {
                                $div.hide();
                            }, 3000);
                        });
                    }
                });
            };

            {#$.ajax({#}
                {#beforeSend: function () {#}
                {#},#}
                {#type: 'POST',#}
                {#url: "{{ path('api_get_all_price_group_products') }}",#}
                {#data: {price_group_id: {{ priceGroup.id }}},#}
                {#success: function (data) {#}
                    {#$scope.$apply(function () {#}
                        {#$scope.products_1 = data;#}
                    {#});#}
                {#}#}
            {#});#}

            $scope.updateProductPrice = function () {
                $.ajax({
                    type: 'POST',
                    url: "{{ path('api_update_product_price') }}",
                    data: {product_id: {{ priceGroup.id }}},
                    success: function (data) {
                        $scope.$apply(function () {
                            $scope.product_images = data;
                        });
                    }
                });
            };
        }]);
    </script>
{% endblock footer %}

{% block content %}

    <style>
        #price_group_users label {
            padding-left: 15px;
            padding-right: 15px;
        }
    </style>
    <div id="alert" class="alert alert-success" role="alert" style="display: none;">Price Group Saved Successfully</div>
    <div class="table" ng-app="myApp" ng-controller="myCtrl">
        <h2>{{ priceGroup.name }}</h2>
        <a class="btn btn-raised btn-success" style="float: right; margin-top: -45px;" ng-click="save()">SAVE</a>
        <hr>

        <div class="row">
        {% for key, product in products %}
            <div class="col-md-12">
                <h3>{{ key }}</h3>
        <table class="table" style="">
            <thead>
            <tr>
                <th>Name</th>
                <th>MSRP</th>
                <th></th>
                <th style="width: 150px">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for p in product %}
                    <tr>
                        <th>{{ p.category_names|upper }}: {{ p.name }}</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                {% for variant in p.variants %}
                    <tr>
                        <th></th>
                        <th>{{ variant.msrp|number_format(2, '.', ',') }}</th>
                        <th><p>{{ variant.name }}</p></th>
                        <th><input type="text"
                                   class="form-control"
                                   id="{{ variant.variant_id }}"
                                   style="text-align: center;"
                                   ng-init="variant[{{ variant.variant_id }}]='{{ variant.price |number_format(2, '.', ',')}}'"
                                   ng-model="variant[{{ variant.variant_id }}]"
                                   ng-change="changeProductVariantPrice({{ variant.variant_id }})"
                                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/" step="0.01"> </th>
                    </tr>
                {% endfor %}
            {% endfor %}
            </tbody>
        </table>
                </div>
        {% endfor %}
        </div>
    </div>

{% endblock %}
