{% extends ':default:layout.html.twig' %}

{% block title %}Price Group{% endblock %}
{% block page_title %}
    Edit Price Group
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('admin_price_group_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                paging: false
            });
        });

        var app = angular.module('myApp', []);
        app.controller('myCtrl', ['$scope', function($scope) {
            $scope.products = [];

            $.ajax({
                beforeSend: function () {
                },
                type: 'POST',
                url: "{{ path('api_get_all_price_group_products') }}",
                data: {price_group_id: {{ priceGroup.id }}},
                success: function (data) {
                    $scope.$apply(function () {
                        $scope.products = data;
                    });
                }
            });

            $scope.updateProductPrice = function () {
                $.ajax({
                    type: 'POST',
                    url: "{{ path('api_update_product_price') }}",
                    data: {product_id: {{ priceGroup.id }}},
                    success: function (data) {
                        $scope.$apply(function () {
                            $scope.product_images = data;
                        });
                    }
                });
            };

        }]);



    </script>
{% endblock footer %}

{% block content %}


    <style>
        #price_group_users label {
            padding-left: 15px;
            padding-right: 15px;

        }
    </style>
    <div class="well bs-component" ng-app="myApp" ng-controller="myCtrl">
        <h2>{{ priceGroup.name }}</h2>
        <a class="btn btn-raised btn-success" style="float: right; margin-top: -45px;">SAVE</a>
        <hr>
        <table class="table" style="width: 50%;">
            <thead>
            <tr>
                <th>Name</th>
                <th style="width: 150px">Price</th>
            </tr>
            </thead>

            <tbody>
                    <tr ng-repeat="(i, prod) in products track by $index">
                        {% verbatim %}
                        <th>{{prod.name}}</th>
                       {% endverbatim %}
                        <th>
                        <input type="text" class="form-control" name="product.id" ng-model="prod.price" style="    text-align: center;">
                        </th>
                    </tr>
            </tbody>
        </table>
        <div class="row">

        </div>
    </div>


{% endblock %}
