{% extends ':default:layout.html.twig' %}

{% block title %}Edit Product creation{% endblock %}
{% block page_title %}
    Edit Product
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('admin_product_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                paging: false
            });
        });

        var app = angular.module('myApp', []);
        app.controller('myCtrl', function($scope) {
            $scope.specifications = [];
            $scope.image_attributes_data = [];

            $.ajax({
                beforeSend: function () {
                },
                type: 'POST',
                url: "{{ path('api_get_all_spec_values') }}",
                data: {product_id: {{ product.id }}},
                success: function (data) {
                    $scope.$apply(function () {
                        $scope.specifications = data;
                    });
                }
            });

            $.ajax({
                beforeSend: function () {
                },
                type: 'POST',
                url: "{{ path('api_get_all_attribute_values') }}",
                data: {product_id: {{ product.id }}},
                success: function (data) {
                    $scope.$apply(function () {
                        $scope.image_attributes_data = data;
                    });
                }
            });

            $scope.addSpecValue = function () {
                var spec_value = $('#spec_value').val();
                var spec_id = $('#spec_select option:selected').val();

                $.ajax({
                    type: 'POST',
                    url: "{{ path('api_add_spec_value') }}",
                    dataType: 'json',
                    data: {spec_id: spec_id, spec_value: spec_value, product_id: {{ product.id }} },
                    success: function (data) {
                        $scope.$apply(function () {
                            $scope.specifications = data;
                            $('#spec_value').val('');
                        });
                    }
                });
            };

            $scope.addAttributeValue = function () {
                console.log('lkdjf');
                var attribute_id = $('#image_select option:selected').val();

                $.ajax({
                    type: 'POST',
                    url: "{{ path('api_add_attribute_value') }}",
                    dataType: 'json',
                    data: {attribute_id: attribute_id, product_id: {{ product.id }} },
                    success: function (data) {
                        $scope.$apply(function () {
                            $scope.image_attributes_data = data;
                            $('#spec_value').val('');
                        });
                    }
                });
            };

        });
    </script>
{% endblock footer %}

{% block content %}
<div  ng-app="myApp" ng-controller="myCtrl">
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#product" data-toggle="tab" aria-expanded="true">Product</a></li>
            <li class=""><a href="#specs" data-toggle="tab" aria-expanded="false">Specifications</a></li>
            <li class=""><a href="#attributes" data-toggle="tab" aria-expanded="false">Image Attributes</a></li>
            <li class=""><a href="#images" data-toggle="tab" aria-expanded="false">Images</a></li>
            <li class=""><a href="#channels" data-toggle="tab" aria-expanded="false">Channels</a></li>
        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="product">
                {{ form_start(form) }}
                {% include '@Inventory/Product/product-form.html.twig' %}
                <br>
                <br>
                <input class="btn btn-lg btn-success" type="submit" value="Update" />
                <a class="btn btn-lg btn-warning" href="{{ path('admin_product_index') }}">Cancel</a>
                {{ form_end(form) }}
            </div>

            <div class="tab-pane" id="attributes" style="padding-top: 25px;">
                {% include '@Inventory/Product/edit-attribute.html.twig' %}
            </div>

            <div class="tab-pane" id="specs" style="padding-top: 25px;">
                {% include '@Inventory/Product/edit-specification.html.twig' %}
            </div>

            <div class="tab-pane" id="images">
                {% include '@Inventory/Product/edit-images.html.twig' %}
            </div>

            <div class="tab-pane" id="channels">
                <div class="tab-pane" id="specs" style="padding-top: 25px;">
                    {% include '@Inventory/Product/edit-channels.html.twig' %}
                </div>
            </div>
        </div>
        <!-- /.tab-content -->
    </div>
</div>
{% endblock %}
