{% extends ':default:layout.html.twig' %}

{% block title %}Order Products{% endblock %}
{% block page_title %}
    Order {{ channel.name }} Products
{% endblock page_title %}

{% block page_name %}
    Order
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
            "iDisplayLength": 50});
        });

        var $grid = $('.grid').isotope({
            itemSelector: '.element-item',
            layoutMode: 'fitRows'
        });

        // filter functions
        var filterFns = {
            // show if number is greater than 50
            numberGreaterThan50: function() {
                var number = $(this).find('.number').text();
                return parseInt( number, 10 ) > 50;
            },
            // show if name ends with -ium
            ium: function() {
                var name = $(this).find('.name').text();
                return name.match( /ium$/ );
            }
        };
        // bind filter button click
        $('.filters-button-group').on( 'click', 'button', function() {
            var filterValue = $( this ).attr('data-filter');
            // use filterFn if matches value
            filterValue = filterFns[ filterValue ] || filterValue;
            $grid.isotope({ filter: filterValue });
        });
        // change is-checked class on buttons
        $('.button-group').each( function( i, buttonGroup ) {
            var $buttonGroup = $( buttonGroup );
            $buttonGroup.on( 'click', 'button', function() {
                $buttonGroup.find('.is-checked').removeClass('is-checked');
                $( this ).addClass('is-checked');
            });
        });




        $('.input_class_checkbox').each(function(){
            $(this).hide().after('<div class="class_checkbox" />');

        });

        $('.class_checkbox').on('click',function(){
            console.log('matt');
            $(this).toggleClass('checked').prev().prop('checked',$(this).is('.checked'))
        });


        var app = angular.module('myApp', []);
        app.controller('myCtrl', ['$scope', function($scope) {

        }]);

    </script>
{% endblock footer %}

{% block content %}
    <style>
        .form_field {
            border: 1px solid rgba(149,152,154,.37);
            display: block;
            width: 100%;
            border-radius: 8px;
        }
        .cart_info {
            background-color: #fff !important;
            text-align: center;
            color: #078BB2;
            font-size: large;
        }
        .review_cart_button {
            padding-left: 6px;
            padding-right: 6px;
            margin-left: -13px;
            margin-top: 20px;
            -webkit-box-shadow: 0 0 0 0 !important;
            height: 38px !important;
        }
        .button {
            display: inline-block;
            margin-bottom: 10px;
            background: #EEE;
            border: none;
            border-radius: 7px;
            color: #222;
            font-family: sans-serif;
            font-size: 16px;
            cursor: pointer;
            background-color: transparent;
        }
        .button:hover {
            color: #02B1F2;
        }
        .button:active,
        .button.is-checked {
            color: #02B1F2;
        }
        .button.is-checked {
            color: #02B1F2;
        }
        .button:active {
            box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
        }
        .price_box_row {
            text-align: center;
            /*display: table;*/
            /*margin-left: auto;*/
            /*margin-right: auto;*/
        }
        .gray_box {
            border: 1px solid #EFEFEF;
        }
        .variant_price {
            font-weight: 600;
        }
        .variant_name {
            font-weight: 600;
        }
        .product_name {
            font-weight: 800;
            margin-top: 10px;
            margin-bottom: 10px;
            font-size: 18px;
        }
        .element-item {
            padding: 15px;
            min-height: 285px;
        }
        .col-md-2 {
            padding-left: 3px !important;
            padding-right: 3px !important;
        }

        .class_checkbox {
            width: 20px;
            height: 20px;
            background-image: url("/images/unchecked@2x.png");
            background-size: 20px 20px;
            background-repeat: no-repeat;
        }
        .class_checkbox.checked {
            background-image: url("/images/checked@2x.png");
            background-size: 20px 20px;
            background-repeat: no-repeat;
        }
        .price_box {
             max-width: 15%;
             display: inline-block;
         }
    </style>
<div ng-app="myApp" ng-controller="myCtrl">
    <div class="table">
        <div class="row">
            <div class="col-md-6">
                <div class="table" style="background-color: #EFEFEF;">
                <center><h2>Order Form</h2></center>
                    <form class="form-horizontal">
                        <fieldset>

                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" for="textinput">PO#</label>
                                    <input id="textinput" name="textinput" type="text" placeholder="" class="form_field input-md">
                                </div>
                                <div class="col-md-6">
                                    <label class="control-label" for="Pick Up Date">Pick Up Date</label>
                                    <input id="Pick Up Date" name="Pick Up Date" type="text" placeholder="" class="form_field input-md">

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <label class="control-label" for="Pick Up Agent Name">Pick Up Agent Name</label>
                                    <input id="Pick Up Agent Name" name="Pick Up Agent Name" type="text" placeholder="" class="form_field input-md">
                                </div>
                                <div class="col-md-2" style="margin-top: 25px; display: inline-flex;">
                                    <input type="checkbox" name="checkboxes" id="ship" class="input_class_checkbox" value="ship" style="display: inline;margin-right: 8px;
}">
                                    <label class="checkbox" for="ship" style="margin-left: 8px; margin-top: -7px;">Ship</label>
                                </div>
                                <div class="col-md-4" style="margin-top: 25px; display: inline-flex;">
                                    <input type="checkbox" name="checkboxes" id="pick-up" class="input_class_checkbox" value="pick_up" style="display: inline;margin-right: 8px;
}">
                                    <label class="checkbox" for="pick-up" style="margin-left: 8px; margin-top: -7px;">Pick Up</label>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12">
                                    <label class="control-label" for="Comments">Comments</label>
                                    <textarea class="form_field" id="Comments" name="Comments" style="min-height: 50px;"></textarea>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-md-6">
                <div class="table" style="background:rgba(2,177,242,.35); min-height: 250px;">
                    <br>
                    <center><h1 style="color: #fff;">Get More, Make More</h1></center>
                    <center><h2>Specials</h2></center>
                    <center><h4>Save up to 25% on closeout items!</h4></center>
                </div>
            </div>
        </div>

        <div class="row" style="padding-bottom: 40px;padding-top: 40px;">
            <div class="col-md-7">
                <div class="button-group filters-button-group" style="text-align: center; margin-top: 29px;">
                    <button class="button is-checked" data-filter="*">ALL</button>
                    {% for category in categories %}
                        <button class="button" data-filter=".{{ category.id }}">{{ category.name }}</button>
                    {% endfor %}
                </div>
            </div>
            <div class="col-md-5">
                <div class="table" style="background-color: #02B1F2;">
                    <div class="row">
                        <div class="col-md-3">
                            <center>Item (s)</center>
                            <input value="0" class="cart_info" style="width: 100%; height: 38px;" readonly>
                        </div>
                        <div class="col-md-4">
                            <center>Total ($)</center>
                            <input value="$0.00" class="cart_info" style="width: 100%; height: 38px;" readonly>
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-raised review_cart_button">Review Order ></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="grid">
            {% for product in products %}
                <div class="col-md-6 element-item {{ product.category_id }}">
                    <div class="product_image" style="display: table; margin: 0 auto;">
                        <img src="{{ product.path }}" style="border: 1px solid #95989A;max-width: 350px; max-height: 150px;">
                        <div class="product_name">
                            <center>{{ product.name }}</center>
                        </div>
                    </div>
                    {#<div cl#}
                    <div class="price_box_row">
                    {% for variant in product.variants %}

                            <div class="price_box" style="align">
                                <div class="variant_name gray_box">
                                    {{ variant.name }}
                                </div>
                                <div class="variant_quantity gray_box">
                                    <input type="text"  value="0" style="text-align: center; width: 100%; border: 1px solid #EFEFEF;">
                                </div>
                                <div class="variant_price">
                                    ${{ variant.price | number_format(2, '.', ',')}}
                                </div>
                            </div>
                    {% endfor %}
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}
