{% extends ":default:layout.html.twig" %}

{% block title %}Edit User{% endblock %}
{% block page_title %}
    Edit User
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('view_users') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block content %}
    <style>
        .toggler {
            border-left: 1px solid #d5d5d5;
            box-shadow: inset 1px 0 0 0 #fff;
            width: 44px;
            width: 2.75rem;
            height: 38.4px;
            height: 2.4rem;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }
        input#user_groups_3 {
        }
        input[type=checkbox], input[type=radio] {
            display: inline !important;
            margin-left: 10px;
            margin-right: 5px;
        }
    </style>
    {% if not form.vars.valid %}
        <div class="col-md-12">
            <div class="bs-callout bs-callout-danger ">
                {{ form_errors(form.username) }}
                {{ form_errors(form.email) }}
                {{ form_errors(form.current_password) }}
            </div>
        </div>
    {% endif %}

    <div class="table">
        <div class="form-body">
            {{ form_start(form, { 'action': path('admin_edit_user', {'user_id': user_id}), 'attr': { 'class': 'form-horizontal' } }) }}

            <div class="row">
                <div class="col-md-12">
                    <h2>Information</h2>
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label(form.first_name) }}
                    {{ form_widget(form.first_name) }}
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label(form.last_name) }}
                    {{ form_widget(form.last_name) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    {{ form_label(form.company_name) }}
                    {{ form_widget(form.company_name) }}

                </div>
                <div class="col-md-6 form-group">
                    {{ form_label(form.enabled) }}
                    {{ form_widget(form.enabled) }}
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email) }}

                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Admin</h2>
                </div>
            </div>
            <div class="row" style="display: block;">
                <div class="col-md-6 form-group">
                    {{ form_label(form.my_distributor) }}
                    {{ form_widget(form.my_distributor) }}
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label(form.my_sales_rep) }}
                    {{ form_widget(form.my_sales_rep) }}
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label(form.my_sales_manager) }}
                    {{ form_widget(form.my_sales_manager) }}
                </div>
            </div>
            <div class="row" >
                <div class="col-md-6" style="display: block;">
                    {{ form_label(form.groups) }}
                    {{ form_widget(form.groups) }}
                </div>
                <div class="col-md-6" style="display: block;">
                    {{ form_label(form.price_groups) }}
                    {{ form_widget(form.price_groups) }}
                </div>
            </div>
            <br>
            <br>

            {% if user.hasRole('ROLE_DISTRIBUTOR') %}
                <div class="row" style="display: block;">
                    <div class="col-md-12">
                        {{ form_label(form.retailers) }}
                        {{ form_widget(form.retailers) }}
                    </div>
                </div>
                <br>
                <br>
            {% endif %}
            {% if user.hasRole('ROLE_SALES_REP') %}
                <div class="row" style="display: block;">
                    <div class="col-md-12">
                        {{ form_label(form.distributors) }}
                        {{ form_widget(form.distributors) }}
                    </div>
                </div>
                <br>
                <br>
            {% endif %}
            {% if user.hasRole('ROLE_SALES_MANAGER') %}
                <div class="row" style="display: block;">
                    <div class="col-md-12">
                        {{ form_label(form.sales_reps) }}
                        {{ form_widget(form.sales_reps) }}
                    </div>
                </div>
                <br>
                <br>
            {% endif %}
            <div class="row">
                <div class="col-md-12">
                    <h2>Address</h2>
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label(form.address_1) }}
                    {{ form_widget(form.address_1) }}
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label(form.address_2) }}
                    {{ form_widget(form.address_2) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 form-group">
                    {{ form_label(form.city) }}
                    {{ form_widget(form.city) }}
                </div>
                <div class="col-md-2 form-group">
                    {{ form_label(form.state) }}
                    {{ form_widget(form.state) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.zip) }}
                    {{ form_widget(form.zip) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 form-group">
                    {{ form_label(form.is_residential) }}
                    {{ form_widget(form.is_residential) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Retailer Info</h2>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.is_show_credit) }}
                    {{ form_widget(form.is_show_credit) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.is_volume_discount) }}
                    {{ form_widget(form.is_volume_discount) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.is_charge_shipping) }}
                    {{ form_widget(form.is_charge_shipping) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.is_show_warranty) }}
                    {{ form_widget(form.is_show_warranty) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.sent_retail_kit) }}
                    {{ form_widget(form.sent_retail_kit) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.is_current_retailer) }}
                    {{ form_widget(form.is_current_retailer) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.is_online_intentions) }}
                    {{ form_widget(form.is_online_intentions) }}
                </div>
                <div class="col-md-4">
                </div>
                <div class="col-md-4">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h1>Order Information</h1>
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label(form.user_channels) }}
                    {{ form_widget(form.user_channels) }}
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.warehouse_1) }}
                    {{ form_widget(form.warehouse_1) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.warehouse_2) }}
                    {{ form_widget(form.warehouse_2) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.warehouse_3) }}
                    {{ form_widget(form.warehouse_3) }}
                </div>
            </div>

            <div class="row">
                <div class="col-md-8">
                </div>
            </div>
            <div style="padding-top: 20px;">
                <input class="btn btn-raised btn-success" type="submit" value="Update"/>
            </div>
        </div>

    </div>

    {{ form_end(form) }}

{% endblock content %}