{% extends ":default:layout.html.twig" %}

{% block title %}Edit User{% endblock %}
{% block page_title %}
    Edit User
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('view_users') }}">< Back to the list</a>
{% endblock page_name %}


{% block content %}
    <style>
        .toggler {
            border-left: 1px solid #d5d5d5;
            box-shadow: inset 1px 0 0 0 #fff;
            width: 44px;
            width: 2.75rem;
            height: 38.4px;
            height: 2.4rem;
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 1;
        }

        input#user_groups_3 {
        }

        input[type=checkbox], input[type=radio] {
            display: inline !important;
            margin-left: 10px;
            margin-right: 5px;
        }
    
    </style>
    
    {#
    {% if not form.vars.valid %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger ">
                    {{ form_errors(form.user_channels) }}
                </div>
            </div>
        </div>
    {% endif %}
    #}
    {%if errors|length>0 %}
	    <div class="alert alert-danger" role="alert">
		    {% for error in errors %}
				{{ error.message }}<br>
		    {% endfor %}
	    </div>
    {%endif%}

    {{ form_start(form, { 'attr': { 'class': 'form-horizontal', 'novalidate':'novalidate' } }) }}
    <div class="row">
        <div class="col-md-12">
            <input class="btn btn-raised btn-success" type="submit" value="Update"/>
        </div>
    </div>
    <div class="nav-tabs-custom">
        <ul class="nav nav-tabs">
            <li class="active"><a href="#tab_1" data-toggle="tab" aria-expanded="true">User</a></li>
            <li><a href="#tab_3" data-toggle="tab">Address</a></li>
            <li class=""><a href="#tab_2" data-toggle="tab" aria-expanded="false">Permissions</a></li>

        </ul>
        <div class="tab-content">
            <div class="tab-pane active" id="tab_1">
                {% if is_granted("ROLE_ADMIN") %}
                    <div class="row">
                        <div class="col-md-6 form-group">
                            {{ form_label(form.username) }}
                            {{ form_widget(form.username) }}
                        </div>
                        <div class="col-md-6 form-group">
                            {{ form_label(form.plain_password) }}
                            {{ form_widget(form.plain_password) }}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-6 form-group">
                        {{ form_label(form.first_name) }}
                        {{ form_widget(form.first_name) }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_label(form.last_name) }}
                        {{ form_widget(form.last_name) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        {{ form_label(form.company_name) }}
                        {{ form_widget(form.company_name) }}

                    </div>
                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SALES_MANAGER') %}
                        <div class="col-md-6 form-group">
                            {{ form_label(form.enabled) }}
                            {{ form_widget(form.enabled) }}
                        </div>
                    {% endif %}
                    <div class="col-md-6 form-group">
                        {{ form_label(form.email) }}
                        {{ form_widget(form.email) }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_label(form.additional_emails) }}
                        {{ form_widget(form.additional_emails) }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_label(form.phone) }}
                        {{ form_widget(form.phone) }}
                    </div>
                    {% if is_granted('ROLE_ADMIN') %}
                    <div class="col-md-6 form-group">
                        {{ form_label(form.warehouses) }}
                        {{ form_widget(form.warehouses) }}
                    </div>
                    {% endif %}
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        {{ form_label(form.user_channels) }}
                        {{ form_widget(form.user_channels) }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_label(form.price_groups) }}
                        {{ form_widget(form.price_groups) }}
                    </div>
                    {% if form.retailers is defined %}
                        <div class="col-md-6 form-group">
                            {{ form_label(form.retailers) }}
                            {{ form_widget(form.retailers) }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="tab-pane" id="tab_2">
                <div class="row" style="display: block;">
                    <div class="col-md-6 form-group" >
                        {{ form_label(form.groups) }}
                        {{ form_widget(form.groups) }}
                    </div>
                    <div class="col-md-6 form-group">
                        {{ form_label(form.my_sales_manager) }}
                        {{ form_widget(form.my_sales_manager) }}
                    </div>
                </div>
                {% if user.hasRole('ROLE_SALES_REP') %}
                    <div class="row" style="display: block;">
                        <div class="col-md-12">
                            {{ form_label(form.distributors) }}
                            {{ form_widget(form.distributors) }}
                        </div>
                    </div>
                {% endif %}
                {% if user.hasRole('ROLE_SALES_MANAGER') %}
                    <div class="row" style="display: block;">
                        <div class="col-md-12">
                            {{ form_label(form.sales_reps) }}
                            {{ form_widget(form.sales_reps) }}
                        </div>
                    </div>
                {% endif %}
                <div class="row" style="display: block;">
                    {% if form.my_distributor is defined %}
                    <div class="col-md-6 form-group">
                        {{ form_label(form.my_distributor) }}
                        {{ form_widget(form.my_distributor) }}
                    </div>
                    {% endif %}
                    <div class="col-md-6 form-group">
                        {{ form_label(form.my_sales_rep) }}
                        {{ form_widget(form.my_sales_rep) }}
                    </div>
                </div>
                {% if user.hasRole('ROLE_WAREHOUSE') %}
                    <div class="row" style="display: block;">
                        <div class="col-md-12">
                            {{ form_label(form.managed_warehouses) }}
                            {{ form_widget(form.managed_warehouses) }}
                        </div>
                    </div>
                {% endif %}
                <div class="row">
                    <div class="col-md-4 form-group">
                        {{ form_label(form.is_show_credit) }}
                        {{ form_widget(form.is_show_credit) }}
                    </div>
                    <div class="col-md-4 form-group">
                        {{ form_label(form.is_volume_discount) }}
                        {{ form_widget(form.is_volume_discount) }}
                    </div>
                    <div class="col-md-4 form-group">
                        {{ form_label(form.is_charge_shipping) }}
                        {{ form_widget(form.is_charge_shipping) }}
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 form-group">
                        {{ form_label(form.is_show_warranty) }}
                        {{ form_widget(form.is_show_warranty) }}
                    </div>
                    <div class="col-md-4 form-group">
                        {{ form_label(form.sent_retail_kit) }}
                        {{ form_widget(form.sent_retail_kit) }}
                    </div>
                    <div class="col-md-4 form-group">
                        {{ form_label(form.is_current_retailer) }}
                        {{ form_widget(form.is_current_retailer) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 form-group">
                        {{ form_label(form.is_online_intentions) }}
                        {{ form_widget(form.is_online_intentions) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_label(form.hide_rebate) }}
                        {{ form_widget(form.hide_rebate) }}
                    </div>
                    <div class="col-md-4">
                        {{ form_label(form.hideCC) }}
                        {{ form_widget(form.hideCC) }}
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="tab_3">
                <div class="col-md-6 form-group">
                    {{ form_label(form.address_1) }}
                    {{ form_widget(form.address_1) }}
                </div>
                <div class="col-md-6 form-group">
                    {{ form_label(form.address_2) }}
                    {{ form_widget(form.address_2) }}
                </div>
                <div class="row">
                    <div class="col-md-6 form-group">
                        {{ form_label(form.city) }}
                        {{ form_widget(form.city) }}
                    </div>
                    <div class="col-md-2 form-group">
                        {{ form_label(form.state) }}
                        {{ form_widget(form.state) }}
                    </div>
                    <div class="col-md-4 form-group">
                        {{ form_label(form.zip) }}
                        {{ form_widget(form.zip) }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 form-group">
                        {{ form_label(form.is_residential) }}
                        {{ form_widget(form.is_residential) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ form_end(form) }}
{% endblock content %}