{% extends ':default:layout.html.twig' %}

{% block title %}Manage Option creation{% endblock %}
{% block page_title %}
    Manage Option creation
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('manage_options_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                paging: false
            });
        });
    </script>
{% endblock footer %}

{% block content %}
    <h1>ManageOption edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input class="btn btn-success" type="submit" value="Update" />
    {{ form_end(edit_form) }}

    {{ form_start(delete_form) }}
    <input class="btn btn-warning" type="submit" value="Delete">
    {{ form_end(delete_form) }}
{% endblock %}
