{% extends ":default:layout.html.twig" %}

{% block title %}Ledger{% endblock %}
{% block page_title %}
    Ledger
{% endblock page_title %}

{% block page_name %}
    Listings
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            var table = $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}}, order: [[ 2, "desc" ]] });

            table.on('click', 'td#description', function () {
                var tr = $(this).parents('tr');
                var row = table.row( tr );

                if ( row.child.isShown() ) {
                    // This row is already open - close it
                    row.child.hide();
                    tr.removeClass('shown');
                    $(this).closest('td').find('span').html('Click to expand');
                }
                else {
                    // Open this row (the format() function would return the data to be shown)
                    row.child(format(tr.data('child-value'))).show();
                    $(this).closest('td').find('span').html('Click to collapse');
                    tr.addClass('shown');
                }

            } );
        });

        function format(description) {
            return '<div>'+description+'</div>';
        }
    </script>
{% endblock footer %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="table">
                <table id="part-table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Amount Requested</th>
                        <th>Amount Credited</th>
                        <th>Date Created</th>
                        <th>Date Posted</th>
                        <th>User</th>
                        <th>Added by User</th>
                        <th>ACH</th>
                        <th>Type</th>
                        <th>Description</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for ledger in ledgers %}
                        {% if ledger.description is not null %}
                        <tr data-child-value="{{ ledger.description }}">
                            <td>{{ ledger.amountRequested | number_format(2) }}</td>
                            <td>{{ ledger.amountCredited | number_format(2) }}</td>
                            <td>{{ ledger.created | date('m/d/y') }}</td>
                            <td>{% if ledger.posted %}{{ ledger.posted | date('m/d/y') }}{% else %}--{% endif %}</td>
                            <td>{{ ledger.user.fullName }}</td>
                            <td>{{ ledger.addedByUser.fullName }}</td>
                            <td>{% if ledger.achRequested %}Yes{% else %}No{% endif %}</td>
                            <td>{{ ledger.type }}</td>
                            <td id="description"><span>Click to expand</span></td>
                            <td>
                                {% if app.user.hasRole('ROLE_ADMIN') %}
                                    <a class="btn btn-raised btn-default btn-xs purple" href="{{ path('ledger_show', { 'id': ledger.id }) }}">Show</a>
                                {% endif %}
                                <a class="btn btn-raised btn-default btn-xs purple" href="{{ path('ledger_edit', { 'id': ledger.id }) }}">Edit</a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td>{{ ledger.amountRequested | number_format(2) }}</td>
                            <td>{{ ledger.amountCredited | number_format(2) }}</td>
                            <td>{{ ledger.created | date('m/d/y') }}</td>
                            <td>{% if ledger.posted %}{{ ledger.posted | date('m/d/y') }}{% else %}--{% endif %}</td>
                            <td>{{ ledger.user.fullName }}</td>
                            <td>{{ ledger.addedByUser.fullName }}</td>
                            <td>{% if ledger.achRequested %}Yes{% else %}No{% endif %}</td>
                            <td>{{ ledger.type }}</td>
                            <td>None</td>
                            <td>
                                {% if app.user.hasRole('ROLE_ADMIN') %}
                                    <a class="btn btn-raised btn-default btn-xs" href="{{ path('ledger_show', { 'id': ledger.id }) }}">Show</a>
                                {% endif %}
                                <a class="btn btn-raised btn-default btn-xs" href="{{ path('ledger_edit', { 'id': ledger.id }) }}">Edit</a>
                            </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <a id="new-button" href="{{ path('ledger_new') }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </a>
    <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="new-button">
        Add a New Ledger
    </div>
{% endblock content %}