{% extends ':default:layout.html.twig' %}

{% block title %}Ledger{% endblock %}
{% block page_title %}
    New Ledger
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('ledger_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
        });

        function noAmount() {
            console.log('dickba;;ls')
        }
    </script>
{% endblock footer %}

{% block content %}
    {% if not form.vars.valid %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    {{ form_errors(form.user) }}
                    {{ form_errors(form.amount) }}
                    {{ form_errors(form.description) }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="table">
        <div class="form-body">
            {{ form_start(form, {'attr': { 'class': 'form-horizontal' } }) }}
            <div class="row">
                <div class="col-md-12">
                    <h2>New Ledger Information</h2>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.user) }}
                    {{ form_widget(form.user) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.amount) }}
                    {{ form_widget(form.amount) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.achRequested) }}
                    {{ form_widget(form.achRequested) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    {{ form_label(form.description) }}
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <input class="btn btn-raised btn-success" type="submit" value="Create" />
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}