{% extends ':default:layout.html.twig' %}

{% block title %}Attribute Edit{% endblock %}
{% block page_title %}
    Attribute Edit
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('specification_index') }}"> < Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });

        });
    </script>
{% endblock footer %}

{% block content %}
    <div class="table">
        <div class="row">
            <div class="col-md-8">

                {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <input class="btn btn-raised btn-success" type="submit" value="Edit" />
                {{ form_end(edit_form) }}

                {{ form_start(delete_form) }}
                <input style="    margin: -55px 0 0 60px;" class="btn btn-raised btn-danger" type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
    </div>
{% endblock %}
