{% extends ':default:layout.html.twig' %}

{% block title %}Specification List{% endblock %}
{% block page_title %}
    Specification List
{% endblock page_title %}

{% block page_name %}
    Assortment
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
            "iDisplayLength": 50, responsive: true});
        });
    </script>
{% endblock footer %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="table">

                <table id="part-table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Code</th>
                        <th style="width: 150px;">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for specification in specifications %}
                        <tr>
                            <td><a href="{{ path('specification_edit', { 'id': specification.id }) }}">{{ specification.name }}</a></td>
                            <td>{{ specification.code }}</td>
                            <td>
                                <a class="btn btn-raised btn-default btn-xs purple" href="{{ path('specification_edit', { 'id': specification.id }) }}"><i class="fa fa-edit"></i> edit</a>
                                <a class="btn btn-raised btn-info btn-xs purple" href="{{ path('specification_show', { 'id': specification.id }) }}"><i class="fa fa-list"></i> show</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <a id="new-button" href="{{ path('specification_new') }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
        <i class="material-icons">add</i>
    </a>
    <div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="new-button">
        Create Specification
    </div>
{% endblock %}
