{% trans_default_domain 'FOSUserBundle' %}

{% if not form.vars.valid %}
    <div class="row">
        <div class="col-md-122">
            <div class="bs-callout bs-callout-danger ">
                {{ form_errors(form.name) }}
            </div>
        </div>
    </div>
{% endif %}
<div class="table">
            {{ form_start(form, { 'action': path('fos_user_group_edit', {'groupName': group_name} ) }) }}
            <h3 class="form-section">Role Info</h3>
            <div class="row">
                <div class="col-md-6">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name , { 'attr': {'class': 'form-control'} }) }}
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {{ form_label(form.children) }}
                    {{ form_widget(form.children) }}
                </div>
            </div>
            <div style="padding-top: 20px;">
                <input class="btn btn-raised btn-success" type="submit" value="{{ 'profile.edit.submit'|trans }}"/>
                <a class="btn btn-raised btn-warning" href="{{  path('fos_user_group_delete', {'groupName': group_name} ) }}">Delete</a>
            </div>
            {{ form_end(form) }}
</div>
