{% trans_default_domain 'FOSUserBundle' %}

{% if not form.vars.valid %}
    <div class="row">
        <div class="col-md-122">
            <div class="bs-callout bs-callout-danger ">
                {{ form_errors(form.name) }}
            </div>
        </div>
    </div>
{% endif %}

<div class="container">
    <div class="portlet-body form">
        <div class="form-body">
            {% if groupName %}
                {{ form_start(form, { 'action': path('fos_user_group_edit', {'groupName': group_name} ), 'attr': { 'class': 'form-group' } }) }}
            {% else %}
                {{ form_start(form, { 'action': path(form_path), 'attr': { 'class': 'form-group' } }) }}
            {% endif %}
            <div class="row">
                <div class="col-md-6">
                    {{ form_label(form.name) }}
                    {{ form_widget(form.name) }}

                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div style="padding-top: 20px;">
                <input class="btn btn-success" type="submit" value="Create"/>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
</div>