<div class="row">
    <div class="col-md-12">
        <div class="table">
            <table id="part-table" class="table table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th style="width: 150px;">Number of Users</th>
                                <th style="width: 250px;">Actions</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for group in groups %}
                                <tr role="row" class="odd">
                                    <td>
                                        <a href="{{ path('fos_user_group_edit', {'groupName': group.name} ) }}">{{ group.name }}</a>
                                    </td>
                                    <td>
                                        <center>{{ group.count }}</center>
                                    </td>
                                    <td>
                                        <a class="btn btn-raised btn-default btn-xs purple" href="{{ path('fos_user_group_edit', {'groupName': group.name} ) }}"><i class="fa fa-edit"></i> Edit</a>
                                        <a class="btn btn-raised btn-info btn-xs purple" href="{{ path('fos_user_group_show', {'groupName': group.name}) }}"><i class="fa fa-list"></i> Show Users</a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
        </div>
    </div>

<a id="new-button" href="{{ path('fos_user_group_new') }}" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored">
    <i class="material-icons">add</i>
</a>
<div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="new-button">
    Add a New Role
</div>