{% extends ":default:layout.html.twig" %}

{% block title %}{{ report.title | default('Report') }}{% endblock %}
{% block page_title %}
    {{ report.title | default('Report') }}
{% endblock page_title %}

{% block page_name %}
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        function createLedgerWithAPI(amount, submittedForUserId, channelId, description, type, typeId) {
            $.ajax({
                type: 'POST',
                url: "{{ path('api_new_ledger') }}",
                dataType: 'json',
                data: {amount: amount, submittedForUserId: submittedForUserId, channelId: channelId, description: description, type: type, typeId: typeId},
                success: function (data) {
//                    console.log(JSON.stringify(data,null,4));
                }
            });
        }
    </script>
{% endblock footer %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <div class="table">
                <table id="" class="table table-striped table-bordered no-footer" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        {% for header in report.headers %}
                            <th>{{ header | default('') }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in report.data %}
                        <tr>
                            <td>
                                {%if order.orderId!=''%}
                                    <a href="{{path('order_products_review',{'id_channel':channel.id,'id_order':order.id})}}">{{ order.orderId | default('--') }}</a>
                                {%else%}
                                    --
                                {%endif%}

                            </td>
                            <td>{{ order.orderNumber | default('--') }}</td>
                            <td>{{ order.pickUpDate | date('m/d/y H:i') | default('--') }}</td>
                            <td>{{ order.shipName | default('--') }}</td>
                            <td>{{ order.submittedForUser.fullName | default('--') }}</td>
                            <td>{{ order.shipAddress | default('--') }}</td>
                            <td>${{ order.subtotal | number_format(2) | default('--') }}</td>
                            <td>${{ order.shipping | number_format(2) | default('--') }}</td>
                        </tr>
                    {% endfor %}
                    {% if report.total is not null %}
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td>TOTAL : ${{ report.total | number_format(2)}}</td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}