{% extends ':default:layout.html.twig' %}

{% block title %}Import Settings{% endblock %}
{% block page_title %}
    Import Settings
{% endblock page_title %}

{% block page_name %}
    Import
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>


        angular.module('myApp', [])
                .directive('loading', function () {
            return {
                restrict: 'E',
                replace:true,
                template: '<div class="loading"><img src="http://www.nasa.gov/multimedia/videogallery/ajax-loader.gif" width="20" height="20" /> UPDATING...</div>',
                link: function (scope, element, attr) {
                    scope.$watch('loading', function (val) {
                        if (val)
                            $(element).show();
                        else
                            $(element).hide();
                    });
                }
            }
        }).controller('myController', function($scope, $http) {
                    $scope.cars = [];

            $scope.importProducts = function() {
                $scope.loading = true;
                $.ajax({
                    type: 'POST',
                    url: "{{ path('qb_import_items') }}",
                    dataType: 'json',
                    success: function (data) {
                        console.log('matt');
                        $scope.loading = false;
                    },
                    error: function (data) {
                        $scope.loading = false;
                        console.log(data);
                    }
                });
            }

            $scope.removeProducts = function() {
                $scope.loading = true;
                $.ajax({
                    type: 'POST',
                    url: "{{ path('qb_import_remove_items') }}",
                    dataType: 'json',
                    success: function (data) {
                        console.log('matt');
                        $scope.loading = false;
                    },
                    error: function (data) {
                        $scope.loading = false;
                        console.log(data);
                    }
                });
            }

            $scope.importWarehouses = function() {
                $scope.loading = true;
                $.ajax({
                    type: 'POST',
                    url: "{{ path('qb_import_warehouses') }}",
                    dataType: 'json',
                    success: function (data) {
                        console.log('matt');
                        $scope.loading = false;
                    },
                    error: function (data) {
                        $scope.loading = false;
                        console.log(data);
                    }
                });
            }

            $scope.removeWarehouses = function() {
                $scope.loading = true;
                $.ajax({
                    type: 'POST',
                    url: "{{ path('qb_import_remove_warehouses') }}",
                    dataType: 'json',
                    success: function (data) {
                        console.log('matt');
                        $scope.loading = false;
                    },
                    error: function (data) {
                        $scope.loading = false;
                        console.log(data);
                    }
                });
            }

            $scope.importPopItems = function() {
                $scope.loading = true;
                $.ajax({
                    type: 'POST',
                    url: "{{ path('qb_import_pop_items') }}",
                    dataType: 'json',
                    success: function (data) {
                        console.log('matt');
                        $scope.loading = false;
                    },
                    error: function (data) {
                        $scope.loading = false;
                        console.log(data);
                    }
                });
            }

            $scope.removePopItems = function() {
                $scope.loading = true;
                $.ajax({
                    type: 'POST',
                    url: "{{ path('qb_import_remove_pop_items') }}",
                    dataType: 'json',
                    success: function (data) {
                        console.log('matt');
                        $scope.loading = false;
                    },
                    error: function (data) {
                        $scope.loading = false;
                        console.log(data);
                    }
                });
            }


        });

    </script>
{% endblock footer %}

{% block content %}
    <style>
        .loading { padding:20px; margin:40px 5px;}
    </style>


    <body ng-app="myApp" ng-controller="myController">
    <loading></loading>
    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3>Products</h3>
                </div>
                <div class="box-body">
                    <a ng-click="importProducts()" class="btn btn-raised btn-primary">Import From QuickBooks</a>
                    <a ng-click="removeProducts()" class="btn btn-raised btn-warning">Remove QuickBooks Import</a>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3>Warehouses</h3>
                </div>
                <div class="box-body">
                    <a ng-click="importWarehouses()" class="btn btn-raised btn-primary">Import From QuickBooks</a>
                    <a ng-click="removeWarehouses()" class="btn btn-raised btn-warning">Remove QuickBooks Import</a>
                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3>POP Items</h3>
                </div>
                <div class="box-body">
                    <a ng-click="importPopItems()" class="btn btn-raised btn-primary">Import From QuickBooks</a>
                    <a ng-click="removePopItems()" class="btn btn-raised btn-warning">Remove QuickBooks Import</a>
                </div>

            </div>
        </div>
        <div class="col-md-6">
            <div class="box">
                <div class="box-header with-border">
                    <h3></h3>
                </div>
                <div class="box-body">
                </div>

            </div>
        </div>
    </div>
    </body>
{% endblock %}