{% extends ':default:layout.html.twig' %}

{% block title %}Edit {{ warranty_claim.channel.Name }} Warranty Claim{% endblock %}
{% block page_title %}
    Edit {{ warranty_claim.channel.Name }} Warranty Claim
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('warrantyclaim_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>

        function getProductVariants() {
            var el = $('#warranty_claim_productVariant');
            $.ajax({
                beforeSend: function() {
                    el.prop('disabled', true);
                    el.html('<option>Loading...</option>');
                },
                type: 'POST',
                url: "{{ path('api_get_product_variants_from_order') }}",
                dataType: 'json',
                data: {order_id: $('#warranty_claim_order').val()},
                success: function (variants) {
                    el.html(variants);
                    el.prop('disabled', false);
                    el.val({{ warranty_claim.productVariant.id }});
                }
            });
        }

        $(document).ready(function () {
            getProductVariants();
            $('#charNum').text(255 - $('#warranty_claim_description').val().length);
            $('#warranty_claim_description').keyup(function () {
                var len = $(this).val().length;
                if (len >= 255) {
                    $(this).val($(this).val().substring(0, 255));
                    $('#charNum').text(0);
                } else {
                    var l = 255 - len;
                    $('#charNum').text(l);
                }
            });
        });
    </script>
{% endblock footer %}

{% block content %}
    {% if not edit_form.vars.valid %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    {{ form_errors(edit_form.order) }}
                    {{ form_errors(edit_form.creditRequested) }}
                    {{ form_errors(edit_form.productVariant) }}
                    {{ form_errors(edit_form.description) }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="table">
        <div class="form-body">
            {{ form_start(edit_form, {'attr': { 'class': 'form-horizontal' } }) }}
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(edit_form.creditRequested) }}
                    {{ form_widget(edit_form.creditRequested) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(edit_form.order) }}
                    {{ form_widget(edit_form.order) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(edit_form.productVariant) }}
                    {{ form_widget(edit_form.productVariant) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    {{ form_label(edit_form.description) }} <span id="charNum" style="font-weight:200;color:#8e8e8e;"></span>
                    {{ form_widget(edit_form.description) }}
                </div>
            </div>
            {% if warranty_claim.isArchived %}
                <br><strong>You may not edit a warranty claim that has been processed.</strong>
            {% else %}
                <input class="btn btn-raised btn-success" type="submit" value="Update" />
            {% endif %}
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}