{% extends ':default:layout.html.twig' %}

{% block title %}New {{ channel.name }} Warranty Claim{% endblock %}
{% block page_title %}
    New {{ channel.name }} Warranty Claim
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('warrantyclaim_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#warranty_claim_description').keyup(function () {
                var len = $(this).val().length;
                if (len >= 255) {
                    $(this).val($(this).val().substring(0, 255));
                    $('#charNum').text(0);
                } else {
                    var l = 255 - len;
                    $('#charNum').text(l);
                }
            });
            $('#warranty_claim_order').append($('<option>', {value:'', text:'None/Unknown'}));
        });



        function getProductVariants() {
            var el = $('#warranty_claim_productVariant');
            $.ajax({
                beforeSend: function() {
                    el.prop('disabled', true);
                    el.html('<option>Loading...</option>');
                },
                type: 'POST',
                url: "{{ path('api_get_product_variants_from_order') }}",
                dataType: 'json',
                data: {order_id: $('#warranty_claim_order').val()},
                success: function (variants) {
                    el.html(variants);
                    if(variants != '<option>Select Order ID first</option>')
                        el.prop('disabled', false);
                }
            });
        }

        function getOrders() {
            $('#warranty_claim_productVariant').html('<option value=0>Select Order First</option>');
            var el = $('#warranty_claim_order');
            $.ajax({
                beforeSend: function() {
                    el.prop('disabled', true);
                    el.html('<option>Loading...</option>');
                },
                type: 'POST',
                url: "{{ path('api_get_orders_from_user') }}",
                dataType: 'json',
                data: {user_id: $('#warranty_claim_user').val()},
                success: function (orders) {
                    el.html(orders);
                    if(orders != '<option>Select User First</option>')
                        el.prop('disabled', false);
                }
            });
        }

        function moneyFormat(value) {
            var m_strOut = String(value);
            m_strOut = m_strOut.replace(/[^0-9.]/g, '');
            return m_strOut;
        }

        function openFileBrowser1() {
            $('#warranty_claim_file1').click();
        }

        function openFileBrowser2() {
            $('#warranty_claim_file2').click();
        }

        function openFileBrowser3() {
            $('#warranty_claim_file3').click();
        }
        
	function openFileBrowser4() {
            $('#warranty_claim_file4').click();
        }
	function openFileBrowser5() {
            $('#warranty_claim_file5').click();
        }
    </script>
{% endblock footer %}

{% block content %}
    {% if not form.vars.valid %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    {{ form_errors(form.order) }}
                    {#{{ form_errors(form.creditRequested) }}#}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="table">
        <div class="form-body">
            {{ form_start(form, {'attr': { 'class': 'form-horizontal' } }) }}
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.user) }}
                    {{ form_widget(form.user) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.order) }} <i id="info-icon" class="fa fa-info-circle" aria-hidden="true" onclick="showInfoModal()"></i><div class="mdl-tooltip mdl-tooltip--top mdl-tooltip--large" for="info-icon">If you don't know your Order ID, input relevant information in the comments</div>
                    {{ form_widget(form.order) }}
                </div>
                <div class="col-md-4 form-group">
                    {{ form_errors(form.productVariant) }}
                    {{ form_label(form.productVariant) }}
                    {{ form_widget(form.productVariant) }}
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 form-group">
                    {{ form_label(form.file1) }}
                    <div class="input-group">
                        <label class="input-group-btn" style="padding: 0;">
                    <span class="btn btn-file btn-raised">
                        Browse&hellip; <input type="file" id="warranty_claim_file1" name="warranty_claim[file1]" accept="image/*">
                    </span>
                        </label>
                        {{ form_widget(form.path1) }}
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.file2) }}
                    <div class="input-group">
                        <label class="input-group-btn" style="padding: 0;">
                    <span class="btn btn-file btn-raised">
                        Browse&hellip; <input type="file" id="warranty_claim_file2" name="warranty_claim[file2]" accept="image/*">
                    </span>
                        </label>
                        {{ form_widget(form.path2) }}
                    </div>
                </div>
                <div class="col-md-4 form-group">
                    {{ form_label(form.file3) }}
                    <div class="input-group">
                        <label class="input-group-btn" style="padding: 0;">
                    <span class="btn btn-file btn-raised">
                        Browse&hellip; <input type="file" id="warranty_claim_file3" name="warranty_claim[file3]" accept="image/*">
                    </span>
                        </label>
                        {{ form_widget(form.path3) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    {{ form_label(form.lawLabel) }}
                    <div class="input-group">
                        <label class="input-group-btn" style="padding: 0;">
				<span class="btn btn-file btn-raised">
				    Browse&hellip; <input type="file" id="warranty_claim_file4" name="warranty_claim[file4]" accept="image/*">
				</span>
                        </label>
                        {{ form_widget(form.lawLabel) }}
                    </div>
                </div>
                <div class="col-md-4">
                    {{ form_label(form.frLabel) }}
                    <div class="input-group">
                        <label class="input-group-btn" style="padding: 0;">
				<span class="btn btn-file btn-raised">
				    Browse&hellip; <input type="file" id="warranty_claim_file5" name="warranty_claim[file5]" accept="image/*">
				</span>
                        </label>
                        {{ form_widget(form.frLabel) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 form-group">
                    {{ form_errors(form.description) }}
                    {{ form_label(form.description) }} <span id="charNum" style="font-weight:200;color:#8e8e8e;">255</span>
                    {{ form_widget(form.description) }}
                </div>
            </div>
            <input class="btn btn-raised btn-success" type="submit" value="Create" />
            {% do form.file1.setRendered %}
            {% do form.file2.setRendered %}
            {% do form.file3.setRendered %}
            {% do form.file4.setRendered %}
            {% do form.file5.setRendered %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}