{% extends ':default:layout.html.twig' %}

{% block title %}Approve/Deny Warranty Claim{% endblock %}
{% block page_title %}
    Approve/Deny Warranty Claim
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('warrantyclaim_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#warranty_approval_resolution').keyup(function () {
                var len = $(this).val().length;
                if (len >= 255) {
                    $(this).val($(this).val().substring(0, 255));
                    $('#charNum').text(0);
                } else {
                    var l = 255 - len;
                    $('#charNum').text(l);
                }
            });

            $('#submit_btn').on('click', function(event) {
                var applyCredit = $('#warranty_approval_applyCredit').val();
                var approvalAmount = $('#warranty_approval_amount').val();
                if(applyCredit == 0 && approvalAmount > 0) {
                    event.preventDefault();
                    showErrorModal('You have selected not to credit the warranty claim, but have an amount entered. Please either remove the amount or select "No" under "Apply Credit"');
                }
                else if(applyCredit == 1 && approvalAmount <= 0) {
                    event.preventDefault();
                    showErrorModal('You have selected to credit the warranty claim, but don\'t have an amount entered. Please either add the amount or select "No" under "Apply Credit"');
                }
            });
        });
    </script>
{% endblock footer %}

{% block content %}
    {% if not form.vars.valid %}
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger">
                    {{ form_errors(form.applyCredit) }}
                    {{ form_errors(form.amount) }}
                    {{ form_errors(form.resolution) }}
                </div>
            </div>
        </div>
    {% endif %}
    <div class="table">
        <div class="row">
            <div class="col-lg-4">
                <table class="table table-striped table-bordered no-footer">
                    <thead>
                    <tr>
                        <th colspan="2" style="text-align: center">
                            Claim Info
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Amount Requested</td>
                        <td>${{ warranty_claim.creditRequested | number_format(2) }}</td>
                    </tr>
                    <tr>
                        <td>Credit for</td>
                        <td>{{ warranty_claim.submittedForUser.fullName | default('--') }}</td>
                    </tr>
                    <tr>
                        <td>Added by</td>
                        <td>{{ warranty_claim.submittedByUser.fullName | default('--') }}</td>
                    </tr>
                    <tr>
                        <td>Date of Claim</td>
                        <td>{{ warranty_claim.dateOfClaim | date('m/d/y') }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">Description</td>
                    </tr>
                    <tr>
                        <td colspan="2">{{ warranty_claim.description }}</td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center">Order Info</td>
                    </tr>
                    <tr>
                        <td>Order #</td>
                        <td>{{ order.orderId | default('--') }}</td>
                    </tr>
                    <tr>
                        <td>Order Total</td>
                        <td>${{ order.total | number_format(2) | default('--') }}</td>
                    </tr>
                    <tr>
                        <td>Product</td>
                        <td>{{ warranty_claim.productVariant.product.name | default('--') }} {{ warranty_claim.productVariant.name | default('') }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="form-body">
            {{ form_start(form, {'attr': { 'class': 'form-horizontal' } }) }}
            <div class="row">
                <div class="col-lg-2 form-group">
                    {{ form_label(form.applyCredit) }}
                    {{ form_widget(form.applyCredit) }}
                </div>
                <div class="col-md-2 form-group">
                    {{ form_label(form.amount) }}
                    {{ form_widget(form.amount, { value: warranty_claim.creditRequested | number_format(2, '.', '') }) }}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 form-group">
                    {{ form_label(form.resolution) }} <span id="charNum" style="font-weight:200;color:#8e8e8e;">255</span>
                    {{ form_widget(form.resolution) }}
                </div>
            </div>
            {% if warranty_claim.isArchived %}
                <br><strong>You may not edit a warranty claim that has been processed.</strong>
            {% else %}
                <input id="submit_btn" class="btn btn-raised btn-success" type="submit" value="Submit" />
            {% endif %}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}