{% extends ':default:layout.html.twig' %}

{% block title %}Warranty Claim{% endblock %}
{% block page_title %}
    Warranty Claim
{% endblock page_title %}

{% block page_name %}
    <a href="{{ path('warrantyclaim_index') }}">< Back to the list</a>
{% endblock page_name %}

{% block actions %}
{% endblock actions %}

{% block footer %}
    <script>
        $(document).ready(function () {
            $('#part-table').DataTable({
                "iDisplayLength": 50, responsive: true, "fnDrawCallback": function(oSettings) {if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {$(oSettings.nTableWrapper).find('.dataTables_paginate').hide();}} });
        });
    </script>
{% endblock footer %}

{% block content %}
    <h1>Warranty Claim</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ warrantyClaim.id }}</td>
            </tr>
            <tr>
                <th>Datemadeaware</th>
                <td>{% if warrantyClaim.dateMadeAware %}{{ warrantyClaim.dateMadeAware|date('m/d/y') }}{% else %}--{% endif %}</td>
            </tr>
            <tr>
                <th>Dateofclaim</th>
                <td>{% if warrantyClaim.dateOfClaim %}{{ warrantyClaim.dateOfClaim|date('m/d/y') }}{% else %}--{% endif %}</td>
            </tr>
            <tr>
                <th>Order Number</th>
                <td>{{ warrantyClaim.order.orderNumber }}</td>
            </tr>
            <tr>
                <th>Creditrequested</th>
                <td>{{ warrantyClaim.creditRequested }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ warrantyClaim.description }}</td>
            </tr>
            <tr>
                <th>Resolution</th>
                <td>{{ warrantyClaim.resolution | default('--') }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('warrantyclaim_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('warrantyclaim_edit', { 'id': warrantyClaim.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
