<script>
    $(document).ready(function () {
        $('#warranty_approval_resolution').val('{{ warranty_claim.resolution | default('') }}');
        $('#claim_id').val({{ warranty_claim.id | default(0) }});
        $('#warranty_approval_resolution').keyup(function () {
            var len = $(this).val().length;
            if (len >= 255) {
                $(this).val($(this).val().substring(0, 255));
                $('#charNum').text(0);
            } else {
                var l = 255 - len;
                $('#charNum').text(l);
            }
        });
        $('#charNum').text(255 - $('#warranty_approval_resolution').val().length);
    });

    function showErrorInModal(message) {
        $('#error-in-modal').append(
                '<div class="col-lg-12 alert alert-danger alert-dismissable"> ' +
                '<button type="button" class="close" data-dismiss="alert" aria-label="Close"> ' +
                '<span aria-hidden="true">&times;</span> ' +
                '</button> ' +
                message +
                '</div>'
        );
    }

    function updateClaim() {
        spinModal('claim-modal-content');
        var resolution = $('#warranty_approval_resolution').val();
        if (resolution == null || resolution == '') {
            showErrorInModal('You must provide a resolution.');
        }
        else {
            $.ajax({
                type: 'POST',
                url: "{{ path('front_approve_deny_warranty_claim') }}",
                dataType: 'json',
                data: {
                    claim_id: $('#claim_id').val(),
                    resolution: $('#warranty_approval_resolution').val()
                },
                success: function (data) {
//                                console.log(JSON.stringify(data,null,4));
                    if (!data[0]) {
                        showErrorInModal('Error: ' + data[1]);
                    }
                    else {
                        $('#claimModal').modal('hide');
                        location.reload();
                    }
                }

            });
            $('.spinner').hide();
        }
    }
</script>
<div class="row">
    <div class="col-lg-12">
        <table class="table table-striped table-bordered no-footer">
            <thead>
            <tr>
                <th colspan="2" style="text-align: center">
                    Claim Info
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Submitted By</td>
                <td>{{ warranty_claim.name }}</td>
            </tr>
            <tr>
                <td>Phone</td>
                <td>{{ warranty_claim.phone }}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td>{{ warranty_claim.address }}, {{ warranty_claim.city }}, {{ warranty_claim.state }} {{ warranty_claim.zip }}</td>
            </tr>
            <tr>
                <td>Amount Requested</td>
                <td>${{ warranty_claim.purchasePrice | number_format(2) }}</td>
            </tr>
            <tr>
                <td>Retailer Name</td>
                <td>{{ warranty_claim.retailerName }}</td>
            </tr>
            <tr>
                <td>Date of Claim</td>
                <td>{{ warranty_claim.dateOfClaim | date('m/d/y') }}</td>
            </tr>
            <tr>
                <td>Image 1</td>
                <td>{% if(warranty_claim.receiptPath is not null) %}<a target="_blank" href="{{ asset('uploads/frontend_warranty_claims/' ~ warranty_claim.receiptPath) }}">View</a>/<a download href="{{ asset('uploads/frontend_warranty_claims/' ~ warranty_claim.receiptPath) }}">Download</a>{% else %}--{% endif %}</td>
            </tr>
            <tr>
                <td>Image 2</td>
                <td>{% if(warranty_claim.lawPath is not null) %}<a target="_blank" href="{{ asset('uploads/frontend_warranty_claims/' ~ warranty_claim.lawPath) }}">View</a>/<a download href="{{ asset('uploads/frontend_warranty_claims/' ~ warranty_claim.lawPath) }}">Download</a>{% else %}--{% endif %}</td>
            </tr>
            <tr>
                <td>Product</td>
                <td>{{ warranty_claim.mattressModel }} {{ warranty_claim.mattressSize }}</td>
            </tr>
            <tr>
                <td>Contacted Retailer?</td>
                <td>{% if warranty_claim.contactedRetailer == 1 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <td>Shipping Damage?</td>
                <td>{% if warranty_claim.shippingDamage == 1 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <td>Has not returned to shape in 48 hours?</td>
                <td>{% if warranty_claim.within48 == 1 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <td>Longer/Shorter than expected?</td>
                <td>{% if warranty_claim.lengthDifferent == 1 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <td>Has body impressions?</td>
                <td>{% if warranty_claim.bodyImpression == 1 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <td>Does not like feeling of mattress?</td>
                <td>{% if warranty_claim.feelingIssue == 1 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <td>Issue with pillow?</td>
                <td>{% if warranty_claim.pillowIssue == 1 %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <td>Different issue?</td>
                <td>{% if warranty_claim.diffIssue == 1 %}Yes{% else %}No{% endif %}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="form-body">
    <div id="error-in-modal" class="row">
    </div>
    <div class="row">
        <div class="col-lg-12 form-group">
            <label for="warranty_approval_resolution" class="required">Resolution</label> <span id="charNum" style="font-weight:200;color:#8e8e8e;">255</span>
            <textarea id="warranty_approval_resolution" name="warranty_approval[resolution]" required="required" class="form-control" style="margin-bottom: 10px"></textarea>
        </div>
    </div>
    <input type="hidden" id="claim_id" value="0" />
    {% if warranty_claim.isArchived %}
        <br><strong>You may not edit a warranty claim that has been processed.</strong>
    {% else %}
        <input id="submit_btn" class="btn btn-raised btn-success" type="submit" value="Submit" onclick="updateClaim()" />
    {% endif %}
</div>

