
<div class="box box-info">
        <div class="box-header with-border" data-widget="collapse">
            <i class="fa fa-minus"></i>
            <h4 style="font-family: 'Raleway', sans-serif; font-weight: 600;display: inline;"> Sales Reps</h4>

            <div class="pull-right">
                <span data-toggle="tooltip" title="" class="badge bg-yellow" data-original-title="3 New Messages">3</span>
                <button class="btn bg-teal btn-sm" type="button" data-widget="collapse"><i class="fa fa-minus white"></i>
                </button>
                <button class="btn bg-teal btn-sm" type="button" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            {#<h8>This section shows a list of Sales Reps. When you click on their name it will take you to a page that lists all of the sales reps distributors and orders.#}
                {#<br>Sales Manager - List of all of their Sales Reps Distributors#}
                {#<br>Operations - List of All Retailers#}
            {#</h8>#}
            {#<hr>#}
            <div class="table" style="box-shadow: none;padding-left: 0; padding-right: 0;">
                <table id="my-sales-reps" class="table table-hover table-compact table-striped table-bordered  dataTable no-footer" cellspacing="0" width="100%">
                    <thead>
                    <tr role="row">
                        <th>Retailer Name</th>
                        <th>Location</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for sales_rep in sales_reps %}
                        <tr role="row">
                            <td><a href="{{ path('admin_edit_user', { 'user_id': sales_rep.id }) }}">{{ sales_rep.displayname }}</a></td>
                            <td>{{ sales_rep.state.name }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            {% for channel in sidebar_user_channels %}
                <a ng-click="changeUserType('{{ channel.name }}', {{ channel.id }}, 'Sales Rep')" class="btn btn-raised btn-sm btn-default btn-flat pull-left" data-toggle="modal" data-target="#create-person"><i class="fa fa-plus"></i> Create {{ channel.name }} Sales Rep</a>
            {%  endfor %}
        </div>
        <!-- /.box-footer -->
    </div>
