<!--
    This sc
-->

<div class="box box-info">
        <div class="box-header with-border" data-widget="collapse">
            <i class="fa fa-minus"></i>
            <h4 style="font-family: 'Raleway', sans-serif; font-weight: 600;display: inline;"> Latest Orders</h4>

            <div class="pull-right">
                <button type="button" class="btn bg-teal btn-sm" data-widget="collapse"><i class="fa fa-minus white"></i>
                </button>
                <button type="button" class="btn bg-teal btn-sm" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table" style="box-shadow: none;padding-left: 0; padding-right: 0;">
                <table id="latest-orders" class="table table-hover table-compact table-striped table-bordered dataTable no-footer" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th>Order Number</th>
                        <th>Date</th>
                        <th>Total</th>
                        <th>Shipping</th>
                        <th>Channel</th>
                        <th>Status</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr role="row" class="odd">
                            <td>
                                <a href="{{ path('order_products_review', {'id_channel': order.channel.id, 'id_order': order.id}) }}">{{ order.orderId }}: {{ order.orderNumber }}</a>
                            </td>
                            <td>{{ order.submitDate | date("m/d/Y")}}</td>
                            <td>${{ order.getTotal |number_format(2, '.', ',') }}</td>
                            <td>${{ order.shipping |number_format(2, '.', ',') }}</td>
                            <td>
                                {{ order.channel.name }}
                            </td>
                            <td>
                                <span class="mdl-chip mdl-chip--contact" >
                                    <span class="mdl-chip__contact mdl-color-text--white" style="background-color: {{ order.status.color }};">{{ order.status.nameFirstLetter }}</span>
                                    <span class="mdl-chip__text">
                                    {{ order.status.name }}
                                    </span>
                                </span>
                            </td>
                            <td>
                                <a class="btn btn-raised btn-default btn-xs purple" style="margin: 0px;" href="{{ path('order_products_review', {'id_channel': order.channel.id, 'id_order': order.id}) }}"><i class="fa fa-edit"></i> View</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer clearfix">
            {% for channel in sidebar_user_channels %}
                <a href="{{ path('order_products_index', {'id': channel.id}) }}" class="btn btn-raised btn-sm btn-default btn-flat pull-left">
                    <i class="fa fa-plus"></i> Order {{ channel.name }} Products</a>
            {%  endfor %}

            <a href="javascript:void(0)" class="btn btn-raised btn-sm btn-default btn-flat pull-right">View All</a>
        </div>
        <!-- /.box-footer -->
    </div>
