{{ form_start(form) }}
<div class="row">
    <div class="col-md-6">
        {{ form_label(form.name) }}
        {{ form_widget(form.name) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.phone) }}
        {{ form_widget(form.phone) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_label(form.email) }}
        {{ form_widget(form.email) }}
    </div>
    <div class="col-md-6">
    </div>
</div>
<hr>
<div class="row">
    <div class="col-md-6">
        {{ form_label(form.address1) }}
        {{ form_widget(form.address1) }}
    </div>
    <div class="col-md-6">
        {{ form_label(form.address2) }}
        {{ form_widget(form.address2) }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ form_label(form.city) }}
        {{ form_widget(form.city) }}
    </div>
    <div class="col-md-2">
        {{ form_label(form.state) }}
        {{ form_widget(form.state) }}
    </div>
    <div class="col-md-4">
        {{ form_label(form.zip) }}
        {{ form_widget(form.zip) }}
    </div>
</div>
{{ form_widget(form) }}
<input class="btn btn-raised btn-success" type="submit" value="Save" />
{{ form_end(form) }}